<!DOCTYPE html>
<html lang="en">
  <head>
    {{ template "templates/header-tags.template.html" .}}
    <title>Asset Tracking Solution | Easy and Affordable GPS Tracking</title>
    <meta
      name="description"
      content="Affordable asset tracking solution for Heavy Construction, Mining & Excavation
    equipment, Roadworks, Boats, Planes, Personal Watercraft, ATV and recreational vehicles."
    />
    <script type="application/ld+json">
      {
        "@context": "https://schema.org/",
        "@graph": [
          {
            "@type": "Product",
            "name": "One Step GPS Asset Tracking | GPS Tracking For Assets",
            "image": "Page not found - OneStepGPS.com",
            "offers": {
              "@type": "Offer",
              "priceCurrency": "USD",
              "price": "13.95",
              "availability": "https://schema.org/InStock",
              "url": "Asset Tracking Solution | Easy and Affordable GPS Tracking ",
              "priceValidUntil": ""
            },
            "aggregateRating": {
              "@type": "AggregateRating",
              "ratingValue": "4.9",
              "ratingCount": "1225",
              "reviewCount": "1225",
              "bestRating": "5",
              "worstRating": "1"
            },
            "review": {
              "@type": "Review",
              "author": {
                "@type": "Person",
                "name": "Rod G."
              },
              "description": "One Step GPS is one of the best investments we've ever made. If you are looking for a cost effective way to track and manage assets with a very user friendly interface, I highly recommend One Step GPS.",
              "url": "onestepgps.com Reviews | Shopper Approved ",
              "datePublished": "2021-09-15T07:00:00.000Z",
              "publisher": {
                "name": "Shopper Approved"
              }
            },
            "description": "With One Step GPS, you can track and protect all of your construction equipment, trailers and assets in inventory. We offer fully customized, or straight-out-of-the-box solutions for maximum visibility, effectiveness, security & recovery.  With an easy-to-use, interactive dashboard, custom alerts and mobile apps you can monitor equipment location, usage, unauthorized use and much more.",
            "brand": "One Step GPS"
          },
          {
            "@context": "https://schema.org/",
            "@type": "Article",
            "author": {
              "@type": "Organization",
              "name": "One Step GPS",
              "url": "https://onestepgps.com"
            },
            "headline": "Why Use GPS Tracking for Your Assets?",
            "image": {
              "@type": "ImageObject",
              "url": "Page not found - OneStepGPS.com "
            },
            "datePublished": "2021-01-02T08:00:00.000Z",
            "publisher": {
              "@type": "Organization",
              "name": "One Step GPS"
            },
            "keywords": "asset tracking, gps tracking assets, asset tracking system, asset fleet system, gps tracking construction, trailer tracking, geofencing assets, custom tracking for assets, equipment tracking, gps tracking equipment",
            "dateModified": "",
            "description": "With the high price of enterprise and industrial assets, the need for monitoring and tracking is paramount. Moreover, to determine the total cost of ownership, equipment managers across all industries are looking for a centralized system that provides important information, such as location, engine hours, maintenance history"
          }
        ]
      }
    </script>
  </head>

  <body onload="animateHTML();" style="background-color: #f5f7fa">
    {{ template "templates/navbar.template.html" .}} {{define "page-content"}}
    {{$phone := .Value "onestepgps_phone"}}
    <main
      style="
        background-image: url('./images/asset-tracking.png');
        background-color: transparent;
      "
      class="main-page-header landing"
    >
      <div class="hidden row h-100">
        <div class="hidden section align-self-center">
          <div class="hidden row">
            <h1 class="hidden bold text-center">Asset Tracking</h1>
          </div>
        </div>
      </div>
    </main>
    <main class="main-auto" style="background-color: #f5f7fa">
      <div class="hidden row h-100">
        <div class="hidden section align-self-center">
          <div class="hidden row-pad">
            <div
              class="hidden row justify-content-md-center justify-content-sm-start"
            >
              <h2 class="hidden p-0">Why Use GPS Tracking for Your Assets?</h2>
            </div>
            <div
              class="mt-25 hidden row justify-content-md-center justify-content-sm-start"
            >
              <span class="hidden paragraph-text text-left">
                <span class="hidden bold"
                  >Trailers, heavy construction equipment, mining equipment and
                  much more</span
                ><br /><br />
                Losing something is never fun. It wastes time, costs money to
                replace, and can cost you in lost work or lost customers. When
                you track your assets and equipment, it makes it much faster and
                much less expensive to recover them. <br /><br />
                With OneStepGPS, you can track and protect all of your
                construction equipment, trailers and assets in inventory. We
                offer fully customized, or straight-out-of-the-box solutions for
                maximum visibility, effectiveness, security & recovery.<br /><br />
                With an easy-to-use, interactive dashboard, custom alerts and
                mobile apps you can monitor equipment location, usage,
                unauthorized use and much more.<br /><br />
                One Step GPS equipment tracking does more than give you peace of
                mind. It increases efficiency. Here are some of the benefits our
                trackers provide:
              </span>
            </div>
          </div>
          <div class="hidden row-pad pt-0">
            <div class="hidden row">
              <div class="hidden col-lg-6 col-xl-3" align="center">
                <div class="hidden info-card-small">
                  <div class="hidden row h-100">
                    <div
                      class="hidden info-card-text align-self-center text-center"
                    >
                      <span class="hidden NH-bold">Resolve </span>
                      billing disputes with documented equipment location and
                      use.
                    </div>
                  </div>
                </div>
              </div>
              <div class="hidden col-lg-6 col-xl-3" align="center">
                <div class="hidden info-card-small">
                  <div class="hidden row h-100">
                    <div
                      class="hidden info-card-text align-self-center text-center"
                    >
                      Eliminate searching for equipment by seeing
                      <span class="hidden NH-bold">exactly</span>
                      where it is.
                    </div>
                  </div>
                </div>
              </div>
              <div class="hidden col-lg-6 col-xl-3" align="center">
                <div class="hidden info-card-small">
                  <div class="hidden row h-100">
                    <div
                      class="hidden info-card-text align-self-center text-center"
                    >
                      Keep equipment running longer with
                      <span class="hidden NH-bold"
                        >maintenance schedules and reminders.</span
                      >
                    </div>
                  </div>
                </div>
              </div>
              <div class="hidden col-lg-6 col-xl-3" align="center">
                <div class="hidden info-card-small last-in-row">
                  <div class="hidden row h-100">
                    <div
                      class="hidden info-card-text align-self-center text-center"
                    >
                      <span class="hidden NH-bold">Reduce</span>
                      idle times and fuel consumption.
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="hidden row justify-content-md-center">
              <div class="hidden col-lg-6 col-xl-3" align="center">
                <div class="hidden info-card-small">
                  <div class="hidden row h-100">
                    <div
                      class="hidden info-card-text align-self-center text-center"
                    >
                      Keep track of employee
                      <span class="hidden NH-bold">start and end times.</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="hidden col-lg-6 col-xl-3" align="center">
                <div class="hidden info-card-small">
                  <div class="hidden row h-100">
                    <div
                      class="hidden info-card-text align-self-center text-center"
                    >
                      Protect against theft and unauthorized use with
                      <span class="hidden NH-bold"
                        >after-hours alerts and entering/exiting zone
                        alerts.</span
                      >
                    </div>
                  </div>
                </div>
              </div>
              <div class="hidden col-lg-6 col-xl-3" align="center">
                <div class="hidden info-card-small">
                  <div class="hidden row h-100">
                    <div
                      class="hidden info-card-text align-self-center text-center"
                    >
                      Recover lost or stolen equipment quickly by pinpointing
                      <span class="hidden NH-bold">exact location.</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    <main
      class="main-auto"
      style="background-image: url('./images-webp/circles.webp')"
    >
      <div class="hidden row h-100">
        <div class="hidden section align-self-center">
          <div class="hidden row-pad">
            <div class="hidden row">
              <h2 class="hidden text-center pt-0">
                Asset Tracking Device Options
              </h2>
            </div>
            <div class="hidden row">
              <div class="hidden col-sm col-high">
                <div class="hidden device-col">
                  <div class="hidden row">
                    <span class="hidden info-card-title">
                      Rugged hardwired tracker
                    </span>
                  </div>
                  <div class="hidden row">
                    <img
                      alt="Hardwired tracker device"
                      onerror="this.src='./images/asset-device-1.png'"
                      src="./images-webp/asset-device-1.webp"
                    />
                  </div>
                  <div class="hidden row mt-5-p">
                    <span class="hidden info-card-text">
                      Great for equipment, trailers or anything else that has
                      on-board power or is connected to a vehicle frequently. It
                      is a very small device with very low power consumption,
                      customizable reporting intervals and alerts. Additional
                      functionality includes engine hour monitoring, PTO
                      monitoring and starter disable or remote shut off.
                    </span>
                  </div>
                </div>
              </div>
              <div class="hidden col-sm col-high">
                <div class="hidden device-col">
                  <div class="hidden row">
                    <span class="hidden info-card-title">
                      Extended battery rugged tracker
                    </span>
                  </div>
                  <div class="hidden row">
                    <img
                      alt="Extended battery tracking device"
                      onerror="this.src='./images/asset-device-2.png'"
                      src="./images-webp/asset-device-2.webp"
                    />
                  </div>
                  <div class="hidden row mt-5-p">
                    <span class="hidden info-card-text">
                      A bigger, more robust device than the Rugged tracker, this
                      device also boasts a rugged, weatherproof design. Ideal
                      for trailers and equipment that does not have power for
                      extended periods of time. This tracker will operate for
                      about six months at one ping a day and has a rechargeable
                      battery. It also allows for custom reporting intervals,
                      engine hour monitoring, two PTOs and starter disable or
                      remote shut off.
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="hidden row">
              <div class="hidden col-sm">
                <div class="hidden device-col">
                  <div class="hidden row">
                    <span class="hidden info-card-title">
                      Solar-powered tracker
                    </span>
                  </div>
                  <div class="hidden row">
                    <img
                      alt="Solar powered tracking device"
                      onerror="this.src='./images/asset-device-4.png'"
                      src="./images-webp/asset-device-4.webp"
                      width="220px"
                    />
                  </div>
                  <div class="hidden row mt-5-p">
                    <span class="hidden info-card-text">
                      Great for trailers or anything with a mounting location
                      that isn’t easily accessible. Weatherproof and
                      solar-powered, these trackers will update every 10 minutes
                      while driving and every four hours while parked.
                      Installation is the simplest possible with no wiring
                      required.
                    </span>
                  </div>
                  <div class="pt-25">
                    <a class="text-link" href="/solar-powered-tracker"
                      >Learn More <i class="fas fa-arrow-right"></i
                    ></a>
                  </div>
                </div>
              </div>
              <div class="hidden col-sm">
                <div class="hidden device-col">
                  <div class="hidden row">
                    <span class="hidden info-card-title">
                      Battery-powered Asset tracker
                    </span>
                  </div>
                  <div class="hidden row">
                    <img
                      alt="3-year battery only tracking device"
                      onerror="this.src='./images/asset-device-3.png'"
                      src="./images-webp/asset-device-3.webp"
                      style="max-height: 160px"
                    />
                  </div>
                  <div class="hidden row mt-5-p">
                    <span class="hidden info-card-text">
                      About the size of a computer mouse, it's great for
                      non-powered assets and trailers. Completely customizable,
                      updates based on movement or set schedule.
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="hidden row">
              <div class="hidden button-div text-center pt-0">
                <a class="hidden button-secondary gold button-large demoButton"
                  >Request a free demo</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    <main class="main-auto">
      <div class="hidden row h-100">
        <div class="hidden section align-self-center">
          <div class="hidden row-pad">
            <div class="hidden row">
              <h2 class="hidden text-center pt-0">
                Powerful 3rd Party Integrations
              </h2>
            </div>
            <div class="hidden row">
              <div class="hidden col-sm col-high">
                <div class="hidden device-col">
                  <div class="hidden row">
                    <span class="hidden info-card-title"> JD Link </span>
                  </div>
                  <div
                    class="hidden row justify-content-md-center justify-content-lg-start"
                  >
                    <img
                      alt="Hardwired tracker device"
                      onerror="this.src='./images/jd-link.png'"
                      src="./images-webp/jd-link.webp"
                      class="mobile-image-size"
                    />
                  </div>
                  <div class="hidden row mt-5-p">
                    <span class="hidden info-card-text">
                      See critical and timely information about your machines,
                      online. Move data to and from your machines – easily,
                      securely, and wirelessly. Support your machine and people,
                      to keep your operation running.
                    </span>
                  </div>
                </div>
              </div>
              <div class="hidden col-sm col-high">
                <div class="hidden device-col">
                  <div class="hidden row">
                    <span class="hidden info-card-title">
                      Caterpillar VisionLink
                    </span>
                  </div>
                  <div
                    class="hidden row justify-content-md-center justify-content-lg-start"
                  >
                    <img
                      alt="Extended battery tracking device"
                      onerror="this.src='./images/caterpillar.png'"
                      src="./images-webp/caterpillar.webp"
                      class="mobile-image-size"
                    />
                  </div>
                  <div class="hidden row mt-5-p">
                    <span class="hidden info-card-text">
                      VisionLink Unified Suite leverages equipment telematics
                      data, to give contractors a more holistic view of their
                      fleet, assets and site productivity for better
                      decision-making and increased profitability.
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    <main
      class="main-auto"
      style="
        background: radial-gradient(
            118.02% 546.8% at -18.02% 26.68%,
            #000000 0%,
            rgba(0, 0, 0, 0) 100%
          ),
          url('./images/bulldozer-bg.png');
        background-color: transparent;
        background-attachment: scroll;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      "
    >
      <div class="hidden row h-100 py-30">
        <script>
          function expandText() {
            var textDiv = document.getElementById("expand_text");
            var btn_more = document.getElementById("read_more_btn");
            var btn_less = document.getElementById("less_btn");
            btn_more.style.display = "none";
            btn_less.style.display = "block";
            textDiv.style.display = "block";
          }

          function collapseText() {
            var textDiv = document.getElementById("expand_text");
            var btn_more = document.getElementById("read_more_btn");
            var btn_less = document.getElementById("less_btn");
            textDiv.style.display = "none";
            btn_more.style.display = "block";
            btn_less.style.display = "none";
          }
        </script>
        <div class="hidden section align-self-center">
          <div class="hidden row-pad prop-padding">
            <div class="hidden col-md-6 col-sm-12">
              <div class="hidden row">
                <h3 class="hidden p-0 prop-font">
                  With the high price of enterprise and industrial assets
                </h3>
                <div class="hidden info-card-text white">
                  With the high price of enterprise and industrial assets, the
                  need for monitoring and tracking is paramount. Moreover, to
                  determine the total cost of ownership, equipment managers
                  across all industries are looking for a centralized system
                  that provides important information, such as location, engine
                  hours, maintenance history, and DTC codes. <br /><br />
                  Equipment managers can lower administrative costs and better
                  accountability and cost savings. Moreover, with information on
                  the equipment condition, they can plan for maintenance and
                  future growth, resulting in overall efficiency.<br /><br />
                  <div id="expand_text" style="display: none">
                    GPS tracking has emerged as a common practice to accelerate
                    productivity gains, reduce operational costs, and streamline
                    compliance and keep equipment in top shape. <br /><br />

                    From one study - A one percent drop in equipment
                    productivity can cause a 2.75 percent drop in total project
                    profits.
                    <br /><br />
                    It can also help with theft. The National Crime Information
                    Bureau (NCIB) estimates $1 billion a year in the US alone is
                    lost due to equipment theft with a recovery rate of less
                    than 20 percent. The cost of stolen equipment goes beyond
                    the pure cost of replacement as one may need to move
                    equipment from other locations to meet job-site demands.
                    <br /><br />
                    Theft of equipment is not isolated to a certain geographical
                    location or equipment type. Equipment is reported stolen
                    from construction sites, dealerships and warehouses,
                    potential targets for thieves exist nationwide. But National
                    Equipment Registry (NER) found that instances of heavy
                    equipment theft happen more frequently in cities with
                    increased road and construction projects and areas where
                    pre-owned equipment is in high demand.
                    <br /><br />
                    The most common pieces of equipment stolen are Skid steers -
                    John Deere, Kubota and Bobcat products as the top three
                    targets.
                  </div>
                </div>
                <div id="read_more_btn" class="pt-25">
                  <button onclick="expandText()" class="text-link" href="#">
                    Read More <i class="fas fa-arrow-down pl-6"></i>
                  </button>
                </div>
                <div id="less_btn" class="pt-25" style="display: none">
                  <button onclick="collapseText()" class="text-link" href="#">
                    Less <i class="fas fa-arrow-up pl-6"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    <main class="main-auto" style="background: #f5f7fa">
      <div class="row h-100 align-items-center">
        <div class="section">
          <div class="row row-pad">
            <h2 class="hidden text-center pt-0">Equipment Tracking</h2>
            <div class="col-lg-4 col-sm-12">
              <div class="row justify-content-center">
                <div class="info-card">
                  <div class="row h-100 align-items-center">
                    <div class="">
                      <div class="row">
                        <img
                          alt=""
                          src="./images/tilda-icons/Tilda_Icons_1ed_calendar.png"
                          class="info-card-image text-center"
                          width="62px"
                          height="60px"
                        />
                      </div>
                      <div>
                        <div class="info-card-title text-center">
                          Improve equipment maintenance
                        </div>
                        <div class="info-card-text">
                          Keep equipment in use by creating maintenance
                          schedules and reminders
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row justify-content-center">
                <div class="info-card">
                  <div class="row h-100 align-items-center">
                    <div class="">
                      <div class="row">
                        <img
                          alt=""
                          src="./images/tilda-icons/Tilda_Icons_1ed_timer.png"
                          class="info-card-image text-center"
                          width="62px"
                          height="60px"
                        />
                      </div>
                      <div>
                        <div class="info-card-title text-center">
                          Track time spent on job sites
                        </div>
                        <div class="info-card-text">
                          Monitor start and finish times for employees and
                          equipment, without any guesswork
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-sm-12">
              <div class="row justify-content-center">
                <div class="info-card">
                  <div class="row h-100 align-items-center">
                    <div class=" ">
                      <div class="row">
                        <img
                          alt=""
                          src="./images/tilda-icons/Tilda_Icons_10cw_startup.png"
                          class="info-card-image text-center"
                          width="62px"
                          height="60px"
                        />
                      </div>
                      <div>
                        <div class="info-card-title text-center">
                          Recover lost or stolen equipment
                        </div>
                        <div class="info-card-text">
                          Use real time location and theft alerts to recover
                          stolen equipment faster
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row justify-content-center">
                <div class="info-card">
                  <div class="row h-100 align-items-center">
                    <div class="" style="width: 100%">
                      <div class="row">
                        <img
                          alt=""
                          src="./images/tilda-icons/Tilda_Icons_13ph_lightbox.png"
                          class="info-card-image text-center"
                          width="62px"
                          height="60px"
                        />
                      </div>
                      <div>
                        <div class="info-card-title text-center">
                          Reduce time looking for equipment
                        </div>
                        <div class="info-card-text text-center">
                          Eliminate yard check guesswork by seeing the exact
                          equipment location
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row justify-content-center">
                <div class="info-card">
                  <div class="row h-100 align-items-center">
                    <div class="" style="width: 100%">
                      <div class="row">
                        <img
                          alt=""
                          src="./images/tilda-icons/Tilda_Icons_15re_instalment.png"
                          class="info-card-image text-center"
                          width="62px"
                          height="60px"
                        />
                      </div>
                      <div>
                        <div class="info-card-title text-center">
                          Improve business decisions
                        </div>
                        <div class="info-card-text text-center">
                          Receive vital metrics to help run your equipment
                          better
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-sm-12">
              <div class="row justify-content-center">
                <div class="info-card">
                  <div class="row h-100 align-items-center">
                    <div class="">
                      <div class="row">
                        <img
                          alt=""
                          src="./images/tilda-icons/Tilda_Icons_45_quest_phone.png"
                          class="info-card-image text-center"
                          width="62px"
                          height="60px"
                        />
                      </div>
                      <div class="text-center">
                        <div class="info-card-title text-center">
                          Increase equipment utilization
                        </div>
                        <div class="info-card-text">
                          Reduce idle times and decrease fuel consumption
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row justify-content-center">
                <div class="info-card">
                  <div class="row h-100 align-items-center">
                    <div class="">
                      <div class="row">
                        <img
                          alt=""
                          src="./images/tilda-icons/Tilda_Icons_2web_presentation.png"
                          class="info-card-image text-center"
                          width="62px"
                          height="60px"
                        />
                      </div>
                      <div class="text-center">
                        <div class="info-card-title text-center">
                          Prevent theft of equipment
                        </div>
                        <div class="info-card-text">
                          Guard against unauthorized use with after-hours alerts
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    <main class="main-auto">
      <div class="hidden row h-100">
        <div class="hidden section align-self-center">
          <div class="hidden row-pad">
            <div
              class="hidden row justify-content-md-center justify-content-sm-start"
            >
              <h2 class="hidden p-0">
                Several Benefits of GPS Tracking on Equipment
              </h2>
            </div>
            <div class="hidden row pt-25">
              <div class="hidden col-2">
                <span class="hidden timeline-line-2"></span>
                <span class="hidden timeline-circle circle-blue-1 bg-blue"
                  ><span class="hidden circle-number bg-blue">1</span></span
                >
                <span class="hidden timeline-circle circle-blue-2 bg-blue"
                  ><span class="hidden circle-number bg-blue">2</span></span
                >
                <span class="hidden timeline-circle circle-blue-3 bg-blue"
                  ><span class="hidden circle-number bg-blue">3</span></span
                >
                <span class="hidden timeline-circle circle-blue-4 bg-blue"
                  ><span class="hidden circle-number bg-blue">4</span></span
                >
                <span class="hidden timeline-circle circle-blue-5 bg-blue"
                  ><span class="hidden circle-number bg-blue">5</span></span
                >
              </div>
              <div class="hidden col-10">
                <div class="hidden row align-items-start timeline-row">
                  <div class="hidden col-lg-12 col-xl-7">
                    <div class="subtitle">Tracking / Geofencing</div>
                    <div class="hidden row">
                      <span class="hidden paragraph-text timeline-text">
                        A lot of heavy equipment is valuable and difficult to
                        replace. With OneStep GPS tracking services for heavy
                        machinery, trailers and other high-value assets, you can
                        keep an eye on your assets’ location at all times.
                        <br /><br />
                        You can also set up geofencing, an invisible boundary
                        that sends a notification when the equipment leaves the
                        preset perimeter. This information is crucial to
                        ensuring that equipment is precisely where it needs to
                        be.
                      </span>
                    </div>
                  </div>
                  <div class="hidden col-sm mobile-hidden">
                    <div class="hidden row">
                      <img
                        alt="Geofencing Construction Equipment"
                        onerror="this.src='./images/bulldozers.png'"
                        src="./images-webp/bulldozers.webp"
                        class="hidden timeline-image"
                      />
                    </div>
                  </div>
                </div>
                <div class="hidden row align-items-start timeline-row">
                  <div class="hidden col-lg-12 col-xl-7">
                    <div class="subtitle">
                      Easily Monitor Equipment Maintenance Schedules
                    </div>
                    <div class="hidden row">
                      <span class="hidden paragraph-text timeline-text">
                        GPS tracking has significantly improved maintenance
                        management by leveraging its automated processes to
                        track hours of operation/engine hours and set automatic
                        maintenance alerts so that care is done on time.
                        <br /><br />
                        There is also advanced reporting to help plan for
                        downtime.
                      </span>
                    </div>
                  </div>
                  <div class="hidden col-sm mobile-hidden">
                    <div class="hidden row">
                      <img
                        alt="Maintenance scheduling binder"
                        onerror="this.src='./images/maintenance.png'"
                        src="./images-webp/maintenance.webp"
                        class="hidden timeline-image"
                      />
                    </div>
                  </div>
                </div>
                <div class="hidden row align-items-start timeline-row">
                  <div class="hidden col-lg-12 col-xl-7">
                    <div class="subtitle">
                      Preventing Theft / Relocating Stolen Equipment
                    </div>
                    <div class="hidden row">
                      <span class="hidden paragraph-text timeline-text">
                        The benefits of having a precise location for your
                        equipment when it comes to helping authorities catch the
                        thieves are clear. However, the right rental equipment
                        tracking devices can do more than aid in locating a lost
                        or stolen rental asset—it can help you minimize the risk
                        of damage to the equipment if it is stolen by reducing
                        the time that thieves have it. <br /><br />
                        For example, use a GPS tracking device for equipment
                        that features motion detection capabilities. It will
                        instantly generate an alert if the device is moved
                        “after hours.” Helping to quickly identify a potential
                        theft in progress and alert the authorities to the
                        robbery minimizing the time it takes for police to find
                        and catch the thieves—reducing the likelihood that the
                        equipment will be damaged or disposed of before
                        authorities can see it.
                      </span>
                    </div>
                  </div>
                  <div class="hidden col-sm mobile-hidden">
                    <div class="hidden row">
                      <img
                        alt="Security Gate"
                        onerror="this.src='./images/truck-latch.png'"
                        src="./images-webp/truck-latch.webp"
                        class="hidden timeline-image"
                      />
                    </div>
                  </div>
                </div>
                <div class="hidden row align-items-start timeline-row">
                  <div class="hidden col-lg-12 col-xl-7">
                    <div class="subtitle">Preventing Unauthorized Usage</div>
                    <div class="hidden row">
                      <span class="hidden paragraph-text timeline-text">
                        Employing GPS tracking can prevent equipment use during
                        off-hours, prevent equipment from being moved out of the
                        authorized job or zone, and prevent basic maintenance
                        requirements from being missed. <br /><br />
                        These unauthorized activities place additional risks on
                        the equipment, increasing potential theft and failure.
                        Without GPS equipment tracking, they can be hard to
                        prove. <br /><br />
                        GPS tracking systems can help you track information such
                        as equipment activation times, engine statistics,
                        locations, and more.
                      </span>
                    </div>
                  </div>
                  <div class="hidden col-sm mobile-hidden">
                    <div class="hidden row">
                      <img
                        alt="Counting money in front of trucks"
                        onerror="this.src='./images/money-trucks.png'"
                        src="./images-webp/money-trucks.webp"
                        class="hidden timeline-image"
                      />
                    </div>
                  </div>
                </div>
                <div class="hidden row align-items-start timeline-row mb-0">
                  <div class="hidden col-lg-12 col-xl-7">
                    <div class="subtitle">Improving Data and Reporting</div>
                    <div class="hidden row">
                      <span class="hidden paragraph-text timeline-text">
                        With this data, you can optimize your equipment
                        maintenance scheduling with ease as your equipment nears
                        specific maintenance milestones. This helps to reduce
                        maintenance costs by focusing on preventative
                        maintenance rather than costlier emergency
                        maintenance—which also helps improve equipment ROI.
                      </span>
                    </div>
                  </div>
                  <div class="hidden col-sm mobile-hidden">
                    <div class="hidden row">
                      <img
                        alt="Checking graphs on tablet"
                        onerror="this.src='./images/ipad-graph.png'"
                        src="./images-webp/ipad-graph.webp"
                        class="hidden timeline-image"
                      />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="hidden row">
              <div class="hidden button-div text-center">
                <a class="hidden button-secondary button-large demoButton"
                  >Request a free demo</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>

    <main
      class="main-auto"
      style="background-image: linear-gradient(291deg, #2470b6 79%, #154f85)"
    >
      <div class="hidden row h-100">
        <div class="hidden section">
          <div class="hidden row-pad pb-0">
            <div
              class="hidden row justify-content-md-center justify-content-sm-start"
            >
              <h3 class="hidden p-0">How much does it cost?</h3>
            </div>
            <div
              class="hidden row justify-content-md-center justify-content-sm-start"
            >
              <div class="hidden h3-subtitle p-0">
                We've spent an amazing amount of time and effort to offer a
                premium product at this low price. These are premium GPS
                tracking devices from top manufacturers. Our pricing is unheard
                of in the GPS tracking industry.
              </div>
            </div>
            <div class="hidden row">
              <div class="text-center bold-yellow-text">$13.95</div>
            </div>
            <div class="hidden row">
              <div class="hidden h3-subtitle p-0 text-center">
                per month, no contract required
              </div>
            </div>
            <div class="hidden row px-70 text-center blue-grad-2 mt-10">
              <div class="hidden row w-100">
                <img
                  alt="Information icon"
                  onerror="this.src='./images/info-circle.png'"
                  src="./images-webp/info-circle.webp"
                  class="hidden info-circle text-center"
                />
              </div>
              <div class="hidden row">
                <div class="hidden blue-div-subtitle">
                  Simply pay first month and one month refundable security
                  deposit at sign up, plus an activation fee of $20 or less,
                  depending on the number of devices. <br /><br />
                  If, for any reason, you find the service is no longer a fit
                  for your company, you can cancel with NO penalties (device
                  must be returned at end of subscription term). <br /><br />
                  <span style="color: #fff">
                    We're so confident that you will find this product
                    invaluable, that we offer a 100-day, full money-back
                    guarantee.
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    <main class="main-auto">
      <div class="hidden row h-100">
        <div class="hidden section align-self-center">
          <div class="hidden row-pad">
            <div class="hidden col-sm">
              <div
                class="hidden row justify-content-md-center justify-content-sm-start"
              >
                <h2 class="hidden p-0 z-1">
                  Let us create an asset tracking solution tailored to you
                </h2>
              </div>
              <img
                alt="underline"
                onerror="this.src='./images/underline-2.png'"
                src="./images-webp/underline-2.webp"
                class="hidden underline-graphic-image-4 mobile-hidden"
              />
              <div
                class="hidden row justify-content-md-center justify-content-sm-start"
              >
                <div class="hidden h2-subtitle">
                  Contact one of our knowledgeable and friendly staff to learn
                  more about how OneStepGPS can help you gain visibility,
                  control operating costs and reduce losses from theft and
                  damage.
                </div>
              </div>
              <div class="hidden row text-center">
                <div
                  class="hidden button-div p-0 text-center row justify-content-center"
                >
                  <a href="tel:{{$phone}}" class="hidden button-primary">
                    <img
                      alt="Phone icon"
                      onerror="this.src='./images/icon-phone@3x.png'"
                      src="./images-webp/icon-phone@3x.webp"
                      class="hidden iconphone"
                    />
                    {{FormatPhone $phone}}
                  </a>
                  <a
                    class="hidden button-secondary chat-button"
                  >
                    <img
                      alt="Chat with us"
                      onerror="this.src='./images/comment-alt-dots-3.png'"
                      src="./images-webp/comment-alt-dots-3.webp"
                      class="hidden comment-alt-dots3"
                    />
                    Chat with us
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
{{end}}
