<!DOCTYPE html>
<html lang="en">
  <head>
    {{ template "templates/header-tags.template.html" .}}
    <title>Battery Tracker| Easy and Affordable GPS Tracking</title>
    <meta
      name="description"
      content="Durable Battery Powered GPS Tracker perfect for non-powered assets and trailers. Completely customizable, updates based on movement or set schedule."
    />
    <script type="application/ld+json">
      {
        "@context": "https://schema.org",
        "@type": "Product",
        "url": "https://onestepgps.com/battery-tracker",
        "name": "Fleet Battery Tracker",
        "image": "https://www.onestepgps.com/images-webp/battery-tracker/device.webp",
        "description": "Keep track of your assets, trailers, and equipment.",
        "brand": {
          "@type": "Organization",
          "name": "One Step GPS"
        },
        "aggregateRating": {
          "@type": "AggregateRating",
          "ratingValue": "4.9",
          "ratingCount": "1460",
          "reviewCount": "1460",
          "bestRating": "5",
          "worstRating": "1"
        },
        "offers": {
          "@type": "Offer",
          "price": "13.95",
          "priceCurrency": "USD",
          "availability": "https://schema.org/InStock"
        },
        "review": {
          "@type": "Review",
          "author": {
            "@type": "Person",
            "name": "JM"
          },
          "description": "The level of service and use of the system has been above expectation! We are now using +300 of the GPS devices to provide real-time updates for our inbound automotive JIT transportation network. The system is very flexible and easy to use, not like the traditional satellite systems used by most major transportation carriers. I'd highly recommend the system to anyone looking for greater transparency of their assets.",
          "url": "https://www.shopperapproved.com/reviews/25247?reviewid=75795014",
          "datePublished": "2019-11-01T0700.000Z"
        }
      }
    </script>

    <script type="application/ld+json">
      {
        "@context": "https://schema.org",
        "@type": "Organization",
        "name": "One Step GPS",
        "alternateName": "One Step GPS Fleet Tracking",
        "url": "https://onestepgps.com",
        "logo": "https://www.onestepgps.com/images/onestepgps_color_logotype.svg"
      }
    </script>
  </head>

  <body onload="animateHTML();" style="background-color: transparent">
    {{ template "templates/navbar.template.html" .}} {{define "page-content"}}
    {{$phone := .Value "onestepgps_phone"}}
    <!--Hero -->
    <main
      style="
        background-image: url('./images-webp/battery-tracker/battery-tracker-hero.webp');
        background-color: transparent;
      "
      class="main-page-header landing"
    >
      <div class="row h-100 align-items-center">
        <div class="section align-self-center">
          <div class="row align-items-center justify-content-center">
            <h1 class="bold text-center">Battery Tracker</h1>
            <p
              class="text-white text-center title-feature px-4"
              style="font-family: neue-haas-grotesk-display, sans-serif"
            >
              Keep track of your assets, trailers, and equipment.
            </p>
          </div>
        </div>
      </div>
    </main>
    <!-- Blue info cards -->
    <main
      class="main-auto pt-mobile pb-3"
      style="background-image: url('./images-webp/full-circles.webp')"
    >
      <div class="row row-pad justify-content-center px-3">
        <div class="blue-info-card first-in-row">
          <div class="row h-100 align-items-center justify-content-center">
            <div class="w-100">
              <div class="info-card-title text-center" style="color: #4193df">
                Monitor
              </div>
              <div
                class="paragraph-text text-center mw-80"
                style="font-family: neue-haas-grotesk-text, sans-serif"
              >
                See up-to-date asset location.
              </div>
            </div>
          </div>
        </div>
        <div class="blue-info-card">
          <div class="row h-100 align-items-center justify-content-center">
            <div class="w-100">
              <div class="info-card-title text-center" style="color: #4193df">
                Know
              </div>
              <div
                class="text-center"
                style="font-family: neue-haas-grotesk-text, sans-serif"
              >
                When and where equipment is and if it is on the move.
              </div>
            </div>
          </div>
        </div>
        <div class="blue-info-card">
          <div class="row h-100 align-items-center justify-content-center">
            <div class="w-100">
              <div class="info-card-title text-center" style="color: #4193df">
                Improve
              </div>
              <div
                class="text-center"
                style="font-family: neue-haas-grotesk-text, sans-serif"
              >
                Utilization across your equipment & Trailers.
              </div>
            </div>
          </div>
        </div>
        <div class="blue-info-card">
          <div class="row h-100 align-items-center justify-content-center">
            <div class="w-100">
              <div class="info-card-title text-center" style="color: #4193df">
                Protect
              </div>
              <div
                class="text-center"
                style="font-family: neue-haas-grotesk-text, sans-serif"
              >
                Monitor assets easily to prevent Theft & Loss.
              </div>
            </div>
          </div>
        </div>
        <div class="blue-info-card">
          <div class="row h-100 align-items-center justify-content-center">
            <div class="w-100">
              <div class="info-card-title text-center" style="color: #4193df">
                Reduce
              </div>
              <div
                class="text-center"
                style="font-family: neue-haas-grotesk-text, sans-serif"
              >
                Time spent looking for equipment.
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    <!-- Small, long battery life and accurate-->
    <main class="main-auto">
      <div
        class="hidden row row-pad h-100 align-self-center justify-content-center"
        style="border-top: 1px solid #e0e0e0"
      >
        <!-- Header -->
        <div class="col-12">
          <h2 style="text-align: center">
            Small, long battery life and accurate
          </h2>
          <div class="row justify-content-center text-center mw-60">
            <div>
              One Step GPS battery tracker can fit in the palm of your hand,
              operates off AAA batteries and can last 10 years* before replacing
              batteries. It’s also small and discrete and can be hidden in
              multiple places.
            </div>
          </div>
        </div>

        <!--  Track any asset, trailer or piece of equipment-->
        <div class="hidden row row-pad align-items-center mw-90">
          <div class="hidden col-md-12 col-lg-6 align-items-center">
            <div class="hidden row justify-content-center">
              <img
                alt="Gps tracking on a tablet with a battery tracker"
                onerror="this.src='./images/battery-tracker/tablet_and_tracker.png'"
                src="./images-webp/battery-tracker/tablet_and_tracker.webp"
                class="mobile-image-size"
                style="width: 560px; height: 430px"
                loading="lazy"
              />
            </div>
            <div class="hidden row justify-content-center">
              <a class="hidden button-secondary demoButton"
                >Request a free demo</a
              >
            </div>
          </div>
          <div class="hidden col-md-12 col-lg-6 px-3">
            <div class="rows">
              <h2 class="hidden pt-25 chev-size">
                Track any asset, trailer or piece of equipment
              </h2>
              <div class="hidden paragraph-text">
                <p>
                  Track any asset, trailer or piece of equipment anywhere, and
                  utilize it to its fullest potential while protecting it from
                  theft, loss or misplacement.<br /><br />
                  Mount a small, rugged, waterproof, low profile Battery Tracker
                  to any piece of equipment. Then, start tracking the asset
                  where it is, if it moves, if it leaves a job site, moves
                  during the middle of the night, and so much more.<br /><br />
                  All on the same system used to track your other vehicles and
                  trucks.<br />
                </p>
                <ul>
                  <li>
                    Maximize utilization with an eagle-eye view of your fleet.
                    See how often equipment is used and what sits for long
                    periods.
                  </li>
                  <li>
                    Keep an eye on any asset, even in the toughest conditions,
                    in remote areas and over extended periods.
                  </li>
                  <li>
                    Track up to 10 years on a single charge (1 or 2 pings daily)
                    with One Step GPS Battery Tracker.
                  </li>
                  <li>
                    Small, compact, rugged, and reliable. Easy to swap batteries
                    in the field.
                  </li>
                  <li>
                    Activate Theft Recovery Mode to quickly track lost or stolen
                    assets and increase high-value asset security when needed.
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <!-- Small and discrete. Easily unnoticed.-->
        <div
          class="hidden row row-pad align-items-center flex-lg-row flex-column-reverse mw-90 mx-auto"
        >
          <div class="hidden col-lg-6 p-3">
            <div class="camera-gallery-subtitle mw-80 mx-auto">
              <h2 class="pt-0 chev-size text-left">
                Small and discrete. Easily unnoticed.
              </h2>
              <p class="paragraph-text">
                Thieves can’t remove what they don’t know is there.<br /><br />
                The One Step GPS Battery Tracker is about the size of a hockey
                puck. The low-profile design means you can hide it in plain
                sight. Of course, you can still Conceal it. Cover it. Hide it.
              </p>
            </div>
          </div>
          <div class="hidden col-lg-6">
            <div class="text-center">
              <img
                alt="Golf ball on top of battery tracker to demonstrate the size"
                onerror="this.src='./images/battery-tracker/device.png'"
                src="./images-webp/battery-tracker/device.webp"
                class="solar-power-image"
                loading="lazy"
              />
            </div>
          </div>
        </div>
        <!-- Able to withstand the toughest conditions. -->
        <div class="main-above-skew hidden row align-items-center mw-90">
          <div class="hidden col-md-12 col-lg-6">
            <div class="hidden row justify-content-center">
              <img
                alt="Trailer with battery trackers attached"
                onerror="this.src='./images/battery-tracker/trailer_with_tracker.png'"
                src="./images-webp/battery-tracker/trailer_with_tracker.webp"
                class="mobile-image-size"
                style="width: 614px; height: 470px"
                loading="lazy"
              />
            </div>
          </div>
          <div class="hidden col-md-12 col-lg-6 px-3">
            <div class="row justify-content-center">
              <div class="hidden pt-25 mw-75 spacer">
                <h2 class="pt-0 chev-size text-left">
                  Able to withstand the toughest conditions.
                </h2>
                <p class="paragraph-text">
                  One Step GPS Battery Tracker is rugged, built to last and
                  withstand the worst weather conditions. Wherever you deploy
                  the equipment, it will track it.<br />
                </p>
                <ul>
                  <li>
                    Ultra-rugged and waterproof IP68 and IK06-rated housing
                    ensures it can withstand impact, fine dust, and brief
                    submersion.
                  </li>
                  <li>Compact and concealable</li>
                  <li>Operational temperature from -30°C to +60°C.</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>

    <!--  Easily locate & Maintain connection | Battery Tracker - Key Features -->
    <main class="main-auto">
      <div class="hidden row h-100 align-self-center justify-content-center">
        <div
          class="hidden row align-items-center flex-lg-row flex-column-reverse"
        >
          <!-- Easily locate & Maintain connection  -->
          <div class="hidden col-lg-6 px-3">
            <div class="row justify-content-center">
              <!--  Easily Locate..   -->
              <div class="hidden mw-75 spacer">
                <h2 class="pt-0 chev-size text-left" style="line-height: 39px">
                  Easily locate assets no matter where or how long they are
                  deployed.
                </h2>
                <p class="paragraph-text">
                  Remotely track assets deployed for long stretches, even years.
                  Log in to our secure online platform, and see exact pinpoint
                  locations quickly and easily.<br /><br />
                  One Step GPS Battery Tracker keeps monitoring for up to 10
                  years, with one or two daily pings. They can also ping more
                  frequently as needed, including when moved. If needed, quickly
                  replace batteries in the field.<br /><br />
                </p>
              </div>

              <!-- Maintain connection -->
              <div class="hidden mw-75 spacer">
                <h2 class="pt-0 chev-size text-left" style="line-height: 39px">
                  Maintain connection, even if stolen.
                </h2>
                <p class="paragraph-text">
                  One Step GPS Battery Tracker keeps your asset tracking
                  regardless of location or satellite reception if one can’t get
                  reception, the device fallback for determining its
                  location.<br />
                </p>
                <ul>
                  <li>GPS and GNSS</li>
                  <li>Cell tower fallback</li>
                </ul>
                <p class="paragraph-text">
                  Call our U.S.-based support team to enable “Recovery Mode” if
                  something is stolen. The Battery Tracker will switch to send
                  locations every 30 seconds, so you can locate and recover your
                  asset and inform law enforcement of where it is.
                </p>
              </div>
            </div>
          </div>

          <!-- Battery Tracker -->
          <div class="hidden col-lg-6">
            <div
              class="row justify-content-end"
              style="max-width: 90%; position: relative; z-index: 2"
            >
              <img
                alt="blue dots"
                onerror="this.src='./images/wide-dots.png'"
                src="./images-webp/wide-dots.webp"
                class="mobile-wide-blue-dots-image"
                style="width: 297px"
                loading="lazy"
              />
            </div>
            <div
              class="skew"
              style="
                margin-top: -80px;
                background-color: #e7f2fb;
                position: relative;
                z-index: 1;
              "
            >
              <div class="row h-100 align-items-center justify-content-center">
                <div class="unskew" style="margin-top: 110px">
                  <div class="row mw-60 spacer px-4">
                    <h2 class="hidden py-0 chev-size" style="text-align: start">
                      Battery Tracker - Key features
                    </h2>
                    <div class="hidden separator mt-1 mb-3"></div>
                    <div class="paragraph-text w-100" style="line-height: 1.15">
                      <p>
                        Long battery life - Up to 10 years * <br /><br />
                        Battery life & Low battery Alerts <br /><br />
                        Once Daily location updates – 10+ years <br /><br />
                        Movement-Based location updates – 3 years <br /><br />
                        Hourly location updates – 1.5 years <br /><br />
                      </p>

                      <p>
                        1, 2, 4, or 8 daily location pings <br /><br />
                        Optional - Smart motion-based tracking <br /><br />
                        Theft Recovery Mode (30-second updates) <br /><br />
                      </p>

                      <p>
                        GPS and GNSS for location <br /><br />
                        Cell Tower triangulation for location fallback
                        <br /><br />
                        IP68 rated – Ultra Rugged <br /><br />
                        Small easy-to-mount design <br /><br />
                        One Step GPS U.S.-based excellent customer support
                        <br /><br />
                      </p>
                    </div>

                    <div class="tab-button-subtitle">
                      *Battery life estimates
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div style="transform: translateY(-50%)">
              <div
                class="unskew unskew-bottom"
                style="background-color: #e7f2fb"
              ></div>
            </div>
          </div>
        </div>
      </div>
    </main>

    <!-- Durability -->
    <main class="main-auto">
      <div class="hidden row h-100">
        <div class="hidden row row-pad">
          <div class="hidden row px-3 align-items-center ie-reformat">
            <div class="hidden col-md-12 col-lg-6">
              <div class="mw-75 spacer">
                <div class="hidden row pb-5 pb-mobile">
                  <h2 class="pt-0 text-left">
                    Durability and performance — any weather or location,
                    lifetime warranty
                  </h2>
                  <div class="paragraph-text">
                    Durability is built into the device. Whether rain or shine,
                    in arid or humid areas, asset tracking is guaranteed.
                  </div>
                  <div class="hidden row">
                    <div class="hidden button-div">
                      <a class="hidden button-secondary demoButton"
                        >Request a free demo</a
                      >
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="hidden col-md-12 col-lg-6">
              <div class="mw-75 spacer">
                <div class="row py-10">
                  <div class="col pr-15">
                    <div>
                      <img
                        alt="Fleet tracking weatherproof"
                        src="./images/basic-icons/CloudSun.png"
                        width="66"
                        height="66"
                        loading="lazy"
                      />
                    </div>
                    <div class="paragraph-text bold">Weatherproof</div>
                    <div class="paragraph-text">
                      Rain, snow or sunshine built to operate in all conditions.
                      <br />
                      Operating temperatures -30°C to +60°C
                    </div>
                  </div>
                  <div class="col pl-15">
                    <div>
                      <img
                        alt="Fleet tracking durable"
                        src="./images/basic-icons/HardDrive.png"
                        width="66"
                        height="66"
                        loading="lazy"
                      />
                    </div>
                    <div class="paragraph-text bold">
                      With a fully sealed, protective case
                    </div>
                    <div class="paragraph-text">
                      The device can be deployed in marine and desert
                      environments.
                    </div>
                  </div>
                </div>
                <div class="row py-10">
                  <div class="col pr-15">
                    <div>
                      <img
                        alt="Fleet tracking waterproof"
                        src="./images/basic-icons/Drop.png"
                        width="66"
                        height="66"
                        loading="lazy"
                      />
                    </div>
                    <div class="paragraph-text bold">Meets IP 68 rating</div>
                    <div class="paragraph-text">
                      100% protected against solid objects ensures it can
                      withstand impact, fine dust, and brief submersion
                    </div>
                  </div>
                  <div class="col pl-15">
                    <div>
                      <img
                        alt="Fleet tracking long battery life"
                        src="./images/basic-icons/PokerChip.png"
                        width="66"
                        height="66"
                        loading="lazy"
                      />
                    </div>
                    <div class="paragraph-text bold">Long battery life</div>
                    <div class="paragraph-text">
                      The unit can last up to 10 years on a single charge using
                      3 x AAA batteries.
                    </div>
                  </div>
                </div>
                <div class="row py-10">
                  <div class="col pr-15">
                    <div>
                      <img
                        alt="Fleet tracking temperature sensor"
                        src="./images/basic-icons/Thermometer.png"
                        width="66"
                        height="66"
                        loading="lazy"
                      />
                    </div>
                    <div class="paragraph-text bold">
                      Temperature monitoring
                    </div>
                    <div class="paragraph-text">
                      The device reports internal temperature, which provides an
                      indication of ambient temperature but may not always be
                      precise
                    </div>
                  </div>
                  <div class="col pl-15">
                    <div>
                      <img
                        alt="Fleet tracking easy installation"
                        src="./images/basic-icons/DropHalf.png"
                        width="66"
                        height="66"
                        loading="lazy"
                      />
                    </div>
                    <div class="paragraph-text bold">Easy installation</div>
                    <div class="paragraph-text">
                      Multiple mounting options and no wiring required make this
                      one of the easiest trackers to install.
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>

    <!-- Transform your business today-->
    <main class="main-auto py-150" style="background-color: #f5f7fa">
      {{ template "templates/transform-your-business.template.html" .}}
    </main>
  </body>
</html>
{{end}}
