<!doctype html>
<html lang="en">

<head>
    {{ template "templates/header-tags.template.html" .}}
    <title>Careers - OneStepGPS.com</title>
    <meta name="description"
        content="We are always looking to expand our team with knowledgeable and self-motivated employees. Our greatest growth is still ahead of us.">

</head>

<body onload="animateHTML();" style="background-color: #f5f7fa;">
    {{ template "templates/navbar.template.html" .}}
    {{define "page-content"}}
    {{$phone := .Value "onestepgps_phone"}}
    <main style="background-image: url('./images/careers.png'); background-color: transparent;"
        class="main-page-header landing">
        <div class="hidden row h-100">
            <div class="hidden section align-self-center">
                <div class="hidden row">
                    <h1 class="hidden bold text-center">Careers</h1>
                </div>
            </div>
        </div>
    </main>
    <main class="main-auto" style="background-color: #f5f7fa;">
        <div class="hidden row h-100">
            <div class="hidden section align-self-center">
                <div class="hidden row-pad">
                    <div class="hidden row  justify-content-md-center justify-content-sm-start">
                        <h2 class="hidden p-0 mw-60 ">
                            Build your career with a great team, in a fast-growing tech company
                        </h2>
                    </div>
                    <div class="hidden row justify-content-md-center justify-content-sm-start">
                        <span class="hidden h2-subtitle pt-25">
                            We are always looking to expand our team with knowledgeable and self-motivated employees.
                            Our greatest growth is still ahead of us.<br><br>
                            We offer great benefits: <span class="hidden bold">excellent pay, unlimited bonus potential,
                                and
                                healthcare benefits.</span><br><br>
                            If you're interested in joining the team, please send an email with a resume to <a
                                style="color: #004DB3; text-decoration: underline"
                                href="mailto:hiring@onestepgps.com" class="hidden hyperlink">hiring@onestepgps.com</a>,
                            and we'll set up an interview when we have an opening that can make
                            use of your unique skill set.
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <main class="main-auto">
        <div class="hidden row h-100">
            <div class="hidden section align-self-center">
                <div class="hidden row row-pad ie-reformat">
                    <div class="hidden row align-items-center">
                        <div class="hidden col-lg-6 col-md-12 align-self-center">
                            <div class="hidden row">
                                <h2 class="hidden p-0">
                                    What we do
                                </h2>
                            </div>
                            <div class="hidden paragraph-text left-text">
                                One Step GPS is focused on helping companies change and improve the way they do business
                                and service their customers. Companies using our solutions see increased productivity,
                                reduced fuel costs, elimination of unauthorized trips, side jobs, unneeded overtime and
                                much more.<br><br>
                                With incredibly feature-rich and affordable GPS solutions deployed around the world, we
                                are spearheading change in this industry by offering our service without contracts or
                                equipment fees at a fraction of the cost of major competitors. We are expanding at an
                                amazing
                                rate, and the growth continues to accelerate.
                            </div>
                        </div>
                        <div class="hidden col-sm align-self-center">
                            <div>
                                <img alt="Join our team, collaboration"
                                    onerror="this.src='./images/careers-image-1.png'"
                                    src="./images-webp/careers-image-1.webp" class="hidden career-image">
                            </div>
                        </div>
                    </div>
                    <div class="hidden row align-items-center pt-70">
                        <div class="hidden col-sm align-self-center">
                            <div>
                                <img alt="Work with us" onerror="this.src='./images/careers-image-2.png'"
                                    src="./images-webp/careers-image-2.webp" class="hidden career-image">
                            </div>
                        </div>
                        <div class="hidden col-lg-6 col-md-12 align-self-center">
                            <div class="hidden row">
                                <h2 class="hidden p-0 right-text">
                                    What it's like to work for us
                                </h2>
                            </div>
                            <div class="hidden paragraph-text right-text">
                                You will be given intensive and in depth training. You will then get to apprentice under
                                some of the top business development representatives, learn the talk and walk the walk.
                                Every representative of our company learns how to help their customers achieve success.
                                You’ll be supporting the same customers you sign up, and helping them expand the
                                tracking of their fleet as they grow. This is meant to make sure you succeed, make great
                                money and have fun while doing it. <br><br>
                                Our office has Nerf guns, optional treadmill desks, weekly company lunches, tons of
                                snacks and unlimited coffee. We have a corporate health insurance plan with employer
                                contribution and paid sick time. Our schedule is family-oriented with no weekends or night
                                shifts. With that said, this is not some start-up out of the TV show Silicon Valley
                                with tons of extra staff who don’t know what to do. Every employee comes to work ready
                                to make things happen and makes things happen for the entire time they’re at work.
                            </div>
                        </div>
                    </div>
                    <div class="hidden row align-items-center pt-70">
                        <div class="hidden col-lg-6 col-md-12 align-self-center">
                            <div class="hidden row">
                                <h2 class="hidden p-0">
                                    Why build your career with us
                                </h2>
                            </div>
                            <div class="hidden paragraph-text left-text">
                                If you’ve ever dreamed of earning an excellent income working for an industry leader,
                                while helping businesses around the world small and big, then you’ve found the right
                                place. As we continue to grow in this rapidly expanding industry, so do our
                                administrative, managerial, and executive positions. We like to promote from within, and
                                reward our most productive employees, so the opportunity for growth and advancement is
                                unlimited.
                            </div>
                            <div class="hidden row">
                                <div class="hidden button-div">
                                    <a href="mailto: hiring@onestepgps.com" class="hidden button-secondary">Email us</a>
                                </div>
                            </div>
                        </div>
                        <div class="hidden col-sm align-self-center">
                            <div>
                                <img alt="Build your careers with OneStepGPS"
                                    onerror="this.src='./images/careers-image-3.png'"
                                    src="./images-webp/careers-image-3.webp" class="career-image build-career-image">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <script type="text/javascript">
        var check_for_ie =  /*@cc_on!@*/false || !!document.documentMode;
        var rows_to_reformat = document.getElementsByClassName("ie-reformat");
        for (var i = 0; i < rows_to_reformat.length; i++) {
            if (check_for_ie == true) {
                rows_to_reformat[i].classList.add("ie");
            }
        }

    </script>

</html>
{{end}}
