<!doctype html>
<html lang="en">

<head>
    {{ template "templates/header-tags.template.html" .}}
    <title>Glossary - OneStepGPS.com</title>
    <meta name="description"
        content="This glossary is a small collection of the most commonly used terms and acronyms in Telematics/GPS tracking. What is Telematics? What is DOT? What is the FMCSA?">
</head>

<body onload="animateHTML();" style="background-color: #f5f7fa;">
    {{ template "templates/navbar.template.html" .}}
    {{define "page-content"}}
    <main style="background-image: url('./images/careers.png'); background-color: transparent;"
        class="main-page-header landing">
        <div class="hidden row h-100">
            <div class="hidden section align-self-center">
                <div class="hidden row">
                    <h1 class="hidden bold text-center">Glossary</h1>
                </div>
            </div>
        </div>
    </main>
    <main class="main-auto" style="background-color: #f5f7fa;">
        <div class="hidden row h-100">
            <div class="hidden section align-self-center">
                <div class="hidden row-pad">
                    <div class="hidden row  justify-content-md-center justify-content-sm-start">
                        <h2 class="hidden p-0 mw-60">
                            Telematics / GPS Tracking Glossary
                        </h2>
                    </div>
                    <div class="hidden row justify-content-md-center justify-content-sm-start">
                        <span class="hidden h2-subtitle pt-25">
                            The Telematics/GPS tracking industry is rapidly growing and changing as more companies with
                            fleets seek solutions, meet increasing regulations, and automate vehicle maintenance. There
                            are numerous terms and acronyms in use. This glossary is a small collection of the most
                            commonly used.
                            <br><br>
                            We will continue to update this page as new relevant terms become commonplace and/or
                            relevant.
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <main class="main-auto">
        <div class="hidden row h-100">
            <div class="hidden section align-self-center">
                <div class="hidden row row-pad">
                    <div class="row p-20">
                        <h2 class="p-0">Frequently Used Terms</h2>
                    </div>
                    <div class="row p-20 ie-reformat">
                        <div class="col-12 col-sm-6">
                            <div class="row p-20 ie-reformat">
                                <div class="row camera-gallery-title">"Telematics"</div>
                                <div class="row paragraph-text">Telematics is the branch of information technology that
                                    deals with the long-distance transmission of computerized information.
                                    The term was coined from "telos" meaning long distance and "informatics" - itself
                                    a combination of information and automatic/automated.</div>
                            </div>
                            <div class="row p-20 ie-reformat">
                                <div class="row camera-gallery-title">"GPS Tracking"</div>
                                <div class="row paragraph-text">Today’s Global Positioning System (GPS), utilizes one or
                                    many satellite systems to track the precise location of personnel, vehicles,
                                    watercrafts, assets, etc.</div>
                            </div>
                            <div class="row p-20 ie-reformat">
                                <div class="row camera-gallery-title">"DOT"</div>
                                <div class="row paragraph-text">The Department of Transportation (DOT) is the name for a
                                    government agency in North America devoted to transportation. The largest is the
                                    United States Department of Transportation, which oversees interstate travel and is
                                    a federal agency.</div>
                            </div>
                            <div class="row p-20 ie-reformat">
                                <div class="row camera-gallery-title">the "FMCSA"</div>
                                <div class="row paragraph-text">The Federal Motor Carrier Safety Administration (FMCSA)
                                    is an agency in the United States Department of Transportation that regulates the
                                    trucking industry in the United States. The primary mission of the FMCSA is to
                                    reduce crashes, injuries and fatalities involving large trucks and buses.</div>
                            </div>
                            <div class="row p-20 ie-reformat">
                                <div class="row camera-gallery-title">"CSA"</div>
                                <div class="row paragraph-text">CSA stands for Compliance, Safety, Accountability. It is
                                    the safety compliance and enforcement program of the Federal Motor Carrier Safety
                                    Administration that holds motor carriers and drivers accountable for their role in
                                    safety. It employs a Safety Measurement System (SMS) containing 7 categories to
                                    determine driver risk and intervene as necessary.</div>
                            </div>
                            <div class="row p-20 ie-reformat">
                                <div class="row camera-gallery-title">"DOT compliance"</div>
                                <div class="row paragraph-text">Department of Transportation (DOT) compliance refers to
                                    several areas of requirements including: Drug testing, Vehicle inspection,
                                    Maintenance programs, Hours of service and several more. Violation of any one of
                                    these can lead to serious consequences and are regularly monitored to ensure
                                    compliance.</div>
                            </div>
                            <div class="row p-20 ie-reformat">
                                <div class="row camera-gallery-title">"DVIR"</div>
                                <div class="row paragraph-text">A Driver Vehicle Inspection Report (DVIR) needs to be
                                    completed daily by drivers for any commercial vehicle they operate, as specified by
                                    Federal Law 49 CFR 396.11 and 396.13 and enforced by the DOT.</div>
                            </div>
                        </div>
                        <div class="col-12 col-sm-6">
                            <div class="row p-20 ie-reformat">
                                <div class="row camera-gallery-title">"HOS"</div>
                                <div class="row paragraph-text">Hours of service (HOS) is a term referring to the number
                                    of hours that a commercial motor vehicle driver is allowed work per day, or week, or
                                    other period as mandated by the Federal Motor Carrier Safety Administration (FMCSA).
                                </div>
                            </div>
                            <div class="row p-20 ie-reformat">
                                <div class="row camera-gallery-title">"ELD"</div>
                                <div class="row paragraph-text">An electronic logging device is a device, typically a
                                    tablet, carried in the truck cab. It records data including the operation of the
                                    vehicle, driver activity, hours of service (HOS), Record of Duty (ROD) for each
                                    24-hour period.</div>
                            </div>
                            <div class="row p-20 ie-reformat">
                                <div class="row camera-gallery-title">"AOBRD"</div>
                                <div class="row paragraph-text">Automatic on-board recording devices (AOBRDs) were
                                    introduced by FMCSA back in 2014 to reduce hours of service violations and attempts
                                    to reduce crashes by fatigued drivers.</div>
                            </div>
                            <div class="row p-20 ie-reformat">
                                <div class="row camera-gallery-title">"ROD"</div>
                                <div class="row paragraph-text">Record of Duty (ROD) is a log containing the drivers
                                    name, date, and status throughout a 24-hour period.</div>
                            </div>
                            <div class="row p-20 ie-reformat">
                                <div class="row camera-gallery-title">the "ELD mandate"</div>
                                <div class="row paragraph-text">The ELD mandate, or ELD Final Rule, is a U.S. federal
                                    government regulation specifying that operators of commercial motor vehicles covered
                                    by this law will be required to use electronic logging devices. This will eliminate
                                    AOBRDS (Automatic on Board Recording Devices) and paper logs fully by 12/16/2019.
                                </div>
                            </div>
                            <div class="row p-20 ie-reformat">
                                <div class="row camera-gallery-title">"IFTA"</div>
                                <div class="row paragraph-text">The International Fuel Tax Agreement (IFTA) is an
                                    arrangement among U.S. states and Canada. It works as a "pay now or pay later"
                                    system. As commercial motor vehicles buy fuel, any fuel taxes paid are credited to
                                    that licensee's account. At the end of the fiscal quarter, the licensee completes
                                    their fuel tax report listing all miles traveled in all participating jurisdictions
                                    and lists all gallons purchased. Then the average MPG is applied to the miles
                                    traveled to determine the tax liability to each jurisdiction.</div>
                            </div>
                            <div class="row p-20 ie-reformat">
                                <div class="row camera-gallery-title">"Geofencing"</div>
                                <div class="row paragraph-text">Geofencing is utilized in GPS tracking applications. It
                                    allows a predefined virtual perimeter to be set up like real-world geographic
                                    fences. It has a wide range of uses and applications and can include: a house, job
                                    site, office, service area, states. etc. It enables software to trigger a response
                                    when the GPS tracker enters or leave the virtual fence.</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <script type="text/javascript">
        var check_for_ie =  /*@cc_on!@*/false || !!document.documentMode;
        var rows_to_reformat = document.getElementsByClassName("ie-reformat");
        for (var i = 0; i < rows_to_reformat.length; i++) {
            if (check_for_ie == true) {
                rows_to_reformat[i].classList.add("ie");
                rows_to_reformat[i].style.width = "400px"
            }
        }

    </script>

</html>
{{end}}
