<!DOCTYPE html>
<html lang="en">
  <head>
    {{ template "templates/header-tags.template.html" .}}
    <meta charset="UTF-8" />
    <title>Hide GPS Tracker - OneStepGPS</title>
  </head>
  <body onload="animateHTML();" style="background-color: #f5f7fa">
    {{ template "templates/navbar.template.html" .}} {{define "page-content"}}

    <div class="" style="background-color: #4193df">
      <div class="row h-100" style="min-height: 100vh">
        <div class="section align-self-center">
          <div class="row-pad">
            <div class="row justify-content-center">
              <h1 class="p-0" style="font-size: 1.8em; margin-top: 1em">
                How to Hide Your GPS Tracker
              </h1>
            </div>
            <div class="row justify-content-around align-content-center">
              <div
                class="embed-responsive embed-responsive-16by9 cookieconsent-optin-marketing"
                style="max-width: 800px; margin: auto"
              >
                <iframe
                  width="560"
                  height="315"
                  src="https://www.youtube-nocookie.com/embed/pFbb3p67EGw"

                  title="YouTube video player"
                  frameborder="0"
                  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                  allowfullscreen
                ></iframe>
              </div>
<!--              <div-->
<!--                class="cookieconsent-optout-marketing row flex-column align-items-center justify-content-center rounded text-align-center"-->
<!--                style="width: 100%; height: 315px; background-color: grey"-->
<!--              >-->
<!--                <i-->
<!--                  class="fa-solid fa-eye-slash fa-xl mb-3"-->
<!--                  style="color: #ffffff"-->
<!--                ></i>-->
<!--                <p class="text-color-white text-lg">-->
<!--                  To view this video you must accept marketing cookies-->
<!--                </p>-->
<!--                <button onclick="Cookiebot.renew()" class="btn btn-primary">-->
<!--                  Opt-in to cookies-->
<!--                </button>-->
<!--              </div>-->
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>

{{end}}
