<!DOCTYPE html>
<html lang="en">
  <head>
    {{ template "templates/header-tags.template.html" .}}
    <title>Partner Code of Conduct - OneStepGPS.com</title>
    <meta name="description" content="." />
  </head>

  <body onload="animateHTML();" style="background-color: #f5f7fa">
    {{ template "templates/navbar.template.html" .}} {{define "page-content"}}
    <main
      style="background-image: url('./images/careers.png')"
      class="main-page-header landing"
    >
      <div class="hidden row h-100">
        <div class="hidden section align-self-center">
          <div class="hidden row">
            <h1 class="hidden bold text-center">
              One-Step GPS’ Business Partner Code of Conduct
            </h1>
          </div>
        </div>
      </div>
    </main>
    <main class="main-auto">
      <div class="hidden section row h-100 align-self-center">
        <div class="hidden row row-pad">
          <div class="paragraph-text row-card">
            <p class="blue">UPDATED OCTOBER 2022</p>
            <strong class="text-xl">Purpose</strong>
            <p>
              The primary goal of One Step GPS LLC.'s Code of Conduct is to
              foster inclusive, collaborative and safe working conditions for
              all One Step GPS LLC. staff. As such, One Step GPS LLC. is
              committed to providing a friendly, safe and welcoming environment
              for all staff, regardless of gender, sexual orientation, ability,
              ethnicity, socioeconomic status, or religion (or lack thereof).
            </p>
            <p>
              This code of conduct outlines our expectations for all One Step
              GPS LLC. staff, as well as the consequences for unacceptable
              behavior.
            </p>
            <strong class="text-xl">Scope</strong>
            <p>
              The Code of Conduct applies to all One Step GPS LLC. staff. This
              includes full-time, part-time and contractor staff employed at
              every seniority level. The Code of Conduct is to be upheld during
              all professional functions and events, including but not limited
              to business hours at the One Step GPS LLC. office, during One Step
              GPS LLC.-related extracurricular activities and events, while
              attending conferences and other professional events on behalf of
              One Step GPS LLC., and while working remotely and communicating on
              One Step GPS LLC. resources with other staff.
            </p>
            <p>
              We expect all One Step GPS LLC. staff to abide by this Code of
              Conduct in all business matters—online and in-person—as well as in
              all one-on-one communications with customers and staff pertaining
              to One Step GPS LLC. business.This Code of Conduct also applies to
              unacceptable behavior occurring outside the scope of business
              activities when such behavior has the potential to adversely
              affect the safety and well-being of One Step GPS LLC. staff and
              clients.
            </p>
            <strong class="text-xl">Culture and Citizenship</strong>
            <p>
              A supplemental goal of this Code of Conduct is to increase open
              citizenship by encouraging participants to recognize the
              relationships between our actions and their effects within One
              Step GPS LLC. culture.
            </p>
            <p>
              <strong>Be welcoming.</strong> We strive to be a company that
              welcomes and supports people of all backgrounds and identities.
              This includes, but is not limited to members of any race,
              ethnicity,culture, national origin, color, immigration status,
              social and economic class, educational level,sexual orientation,
              gender identity and expression, age, size, family status,
              political belief,religion, and mental and physical ability.
            </p>
            <p>
              <strong>Be considerate.</strong> Your work at One Step GPS LLC.
              will be used by other people, and you in turn will depend on the
              work of others. Any decision you take will affect users and
              colleagues, and you should take those consequences into account
              when making decisions.
            </p>
            <p>
              <strong>Be respectful.</strong> Not all of us will agree all the
              time, but disagreement is no excuse for poor behavior and poor
              manners. We might all experience some frustration now and then,
              but we cannot allow that frustration to turn into a personal
              attack. It's important to remember that a company where people
              feel uncomfortable or threatened is neither productive nor
              pleasant. One Step GPS LLC. staff should always be respectful when
              dealing with other personnel as well as with people outside of One
              Step GPS LLC. employment.
            </p>

            <strong class="text-xl">Acceptable and Expected Behavior</strong>
            <p>
              The following behaviors are expected and requested of all One Step
              GPS LLC. staff:
            </p>
            <ul>
              <li>
                Participate in an authentic and active way. In doing so, you
                contribute to the health and longevity of One Step GPS LLC.
              </li>
              <li>
                Exercise consideration and respect in your speech and actions at
                all times.
              </li>
              <li>Attempt collaboration before conflict.</li>
              <li>
                Refrain from demeaning, discriminatory, or harassing behavior
                and speech.
              </li>
              <li>
                Be mindful of your surroundings and of your fellow participants.
              </li>
              <li>
                Alert One Step GPS LLC. leaders if you notice a dangerous
                situation, someone in distress, or violations of this Code of
                Conduct, even if they seem inconsequential.
              </li>
              <li>
                Remember that One Step GPS LLC. events may be shared with
                members of the public and One Step GPS LLC. customers; please be
                respectful to all patrons of these locations at all times.
              </li>
            </ul>
            <strong class="text-xl">Unacceptable Behavior</strong>
            <p>
              The following behaviors are considered harassment and are
              unacceptable within our community:
            </p>
            <ul>
              <li>
                Violence, threats of violence or violent language directed
                against another person.
              </li>
              <li>
                Sexist, racist, homophobic, transphobic, ableist, or otherwise
                discriminatory jokes and language.
              </li>
              <li>
                Posting or displaying sexually explicit or violent material.
              </li>
              <li>
                Posting or threatening to post other people's personally
                identifying information ("doxing").
              </li>
              <li>
                Personal insults, particularly those related to gender, sexual
                orientation, race, religion, or disability.
              </li>
              <li>Inappropriate photography or recording.</li>
              <li>
                Inappropriate physical contact. You should have someone's
                consent before touching them in any manner.
              </li>
              <li>
                Unwelcome sexual attention. This includes sexualized comments or
                jokes; inappropriate touching, groping, and unwelcome sexual
                advances.
              </li>
              <li>
                Deliberate intimidation, stalking, or following (online or in
                person).
              </li>
              <li>
                Advocating for, or encouraging, any of the above behavior.
              </li>
              <li>
                Repeated harassment of others. In general, if someone asks you
                to stop, then stop.
              </li>
              <li>
                Other conduct which could reasonably be considered inappropriate
                in a professional setting.
              </li>
            </ul>
            <strong class="text-xl">Weapons Policy</strong>
            <p>
              No weapons will be allowed at One Step GPS LLC. events, office
              locations, or in other spaces covered by the scope of this Code of
              Conduct. Weapons include but are not limited to guns,explosives
              (including fireworks), and large knives such as those used for
              hunting or display, as well as any other item used for the purpose
              of causing injury or harm to others.
            </p>
            <p>
              Anyone seen in possession of one of these items will be asked to
              leave immediately and will be subject to punitive action up to and
              including termination and involvement of law enforcement
              authorities. One Step GPS LLC. staff are further expected to
              comply with all state and local laws on this matter.
            </p>
            <strong class="text-xl">Consequences of Unacceptable Behavior</strong>
            <p>
              Unacceptable behavior from any One Step GPS LLC. staff, including
              those with decision-making authority, will not be tolerated.
            </p>
            <p>
              Anyone asked to stop unacceptable behavior is expected to comply
              immediately.
            </p>
            <p>
              If a staff member engages in unacceptable behavior, One Step GPS
              LLC. leadership may take any action deemed appropriate, up to and
              including suspension or termination.
            </p>
            <strong class="text-xl">Reporting Violations</strong>
            <p>
              If you are subject to or witness unacceptable behavior, or have
              any other concerns, please notify an appropriate member of One
              Step GPS LLC. leadership as soon as possible.
            </p>
            <p>
              It is a violation of this policy to retaliate against any person
              making a complaint of Unacceptable Behavior or against any person
              participating in the investigation of (including testifying as a
              witness to) any such allegation. Any retaliation or intimidation
              may be subject to punitive action up to and including termination.
            </p>
            <strong class="text-xl">Disciplinary Action</strong>
            <p>
              Employees who violate this policy may face disciplinary
              consequences in proportion to theirviolation. One Step GPS LLC.
              management will determine how serious an employee's offense is and
              take the appropriate action
            </p>
            <strong class="text-xl">Responsibility</strong>
            <p>
              It is the Personnel Director's responsibility to ensure this
              policy is followed.
            </p>
          </div>
        </div>
      </div>
    </main>
    {{end}}
  </body>
</html>
