<!doctype html>
<html lang="en">

<head>
    {{ template "templates/header-tags.template.html" .}}
    <title>Sitemap - OneStepGPS.com</title>
    <meta name="description" content="">
</head>

<body onload="animateHTML();" style="background-color: #f5f7fa;">
    {{ template "templates/navbar.template.html" .}}
    {{define "page-content"}}
    <main style="background-image: url('./images/money-back-guarantee.png'); background-color: transparent;"
        class="main-page-header landing">
        <div class="hidden row h-100">
            <div class="hidden section align-self-center">
                <div class="hidden row">
                    <h1 class="hidden bold text-center">Sitemap</h1>
                </div>
            </div>
        </div>
    </main>
    <main class="main-auto" style="background-color: #f5f7fa;">
        <div class="hidden row h-100">
            <div class="hidden section align-self-center">
                <div class="hidden row-pad justify-content-around">
                    <div class="row">
                        <div class="col" align="center">
                            <div class="nav-card-blue">
                                <a href="/"><span class="sitemap-text"><i class="fa fa-home fa-xl"></i> Home</span></a>
                            </div>
                        </div>
                        <div class="col" align="center">
                            <div class="nav-card-blue">
                                <a href="/about"><span class="sitemap-text"><i class="fa fa-address-card fa-xl"></i>
                                        About</span></a>
                            </div>
                        </div>
                        <div class="col" align="center">
                            <div class="nav-card-blue">
                                <a href="/contact-us"><span class="sitemap-text"> <i
                                            class="fa fa-phone fa-rotate-90 fa-xl"></i> Contact</span></a>
                            </div>
                        </div>
                        <div class="col" align="center">
                            <div class="nav-card-blue">
                                <a href="/warranty"><span class="sitemap-text">Warranty</span></a>
                            </div>
                        </div>
                        <div class="col" align="center">
                            <div class="nav-card-blue">
                                <a href="/privacy-policy"><span class="sitemap-text">Privacy Policy</span></a>
                            </div>
                        </div>
                        <div class="col" align="center">
                            <div class="nav-card-blue">
                                <a href="/terms-and-conditions"><span class="sitemap-text">Terms and
                                        Conditions</span></a>
                            </div>
                        </div>
                        <div class="col" align="center">
                            <div class="nav-card-blue">
                                <a href="/careers"><span class="sitemap-text">Careers</span></a>
                            </div>
                        </div>
                        <div class="col" align="center">
                            <div class="nav-card-blue">
                                <a href="/investors"><span class="sitemap-text">Investors</span></a>
                            </div>
                        </div>
                        <div class="col" align="center">
                            <div class="nav-card-blue">
                                <a href="/trucking-and-eld"><span class="sitemap-text">Trucking and ELD</span></a>
                            </div>
                        </div>
                        <div class="col" align="center">
                            <div class="nav-card-blue">
                                <a href="/asset-tracking"><span class="sitemap-text">Asset Tracking</span></a>
                            </div>
                        </div>
                        <div class="col" align="center">
                            <div class="nav-card-blue">
                                <a href="/fleet-tracking"><span class="sitemap-text">Fleet Tracking</span></a>
                            </div>
                        </div>
                       <div class="col" align="center">
                            <div class="nav-card-blue">
                                <a href="/dash-camera"><span class="sitemap-text">Dash Cameras</span></a>
                            </div>
                        </div>
                        <div class="col" align="center">
                            <div class="nav-card-blue">
                                <a href="/features"><span class="sitemap-text">Features</span></a>
                            </div>
                        </div>
                        <div class="col" align="center">
                            <div class="nav-card-blue">
                                <a href="/glossary"><span class="sitemap-text">Glossary</span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </main>
</body>
</html>
{{end}}
