<!doctype html>
<html lang="en">

<head>
    {{ template "templates/header-tags.template.html" .}}
    <title>Solar Powered Tracker | Easy and Affordable GPS Tracking</title>
    <meta name="description" content="Durable Solar Powered GPS Tracker with Smart Sensor integrations perfect for Asset Tracking Construction, Mining & Excavation equipment, Containers, Trailers and more.">

    <script type="application/ld+json">
        {
            "@context": "https://schema.org/",
            "@graph":[
                {
                    "@type": "Product",
                    "name": "Solar Powered Asset GPS Tracker - One Step GPS",
                    "image": "Page not found - OneStepGPS.com",
                    "offers": {
                        "@type": "Offer",
                        "priceCurrency": "USD",
                        "price": "13.95",
                        "availability": "https://schema.org/InStock",
                        "url": "Solar Powered Tracker | Easy and Affordable GPS Tracking",
                        "priceValidUntil": ""
                    },
                    "aggregateRating": {
                        "@type": "AggregateRating",
                        "ratingValue": "4.9",
                        "ratingCount": "1225",
                        "reviewCount": "1225",
                        "bestRating": "5",
                        "worstRating": "1"
                    },
                    "review": {
                        "@type": "Review",
                        "author": {
                            "@type": "Person",
                            "name": "JM"
                        },
                        "description": "The level of service and use of the system has been above expectation! We are now using +300 of the GPS devices to provide real-time updates for our inbound automotive JIT transportation network. the system is very flexible and easy to use, not like the traditional satellite systems used by most major transportation carriers. I'd highly recommend the system to anyone looking for greater transparency of their assets.",
                        "url": "onestepgps.com Reviews | Shopper Approved",
                        "datePublished": "2019-11-01T07:00:00.000Z"
                    },
                    "description": "Solar-powered GPS tracking is becoming a more attractive option every day. Battery technology and solar recharging b technology have allowed the tracker to become smaller and easier. The latest in cellular technology consumes less power than ever imaginable, allowing the tracking device to run 10+ years before being replaced.",
                    "brand": "One Step GPS"
                }
            ,
                {
                    "@context": "https://schema.org/",
                    "@type": "Article",
                    "author": {
                        "@type": "Organization",
                        "name": "One Step GPS",
                        "url": "https://onestepgps.com"
                    },
                    "headline": "The leading choice for trailer tracking just got even smarter and easier",
                    "image": {
                        "@type": "ImageObject",
                        "url": "Page not found - OneStepGPS.com"
                    },
                    "datePublished": "2021-01-02T08:00:00.000Z",
                    "publisher": {
                        "@type": "Organization",
                        "name": "One Step GPS"
                    },
                    "keywords": "solar gps tracking, solar asset tracking, solar asset tracker, rechargeable gps tracker, tracking for non-powered assets, construction equipment gps tracking, trailer monitoring system"
                }]}
    </script>
</head>

<body onload="animateHTML();" style="background-color: #f5f7fa;">
    {{ template "templates/navbar.template.html" .}}
    {{define "page-content"}}
    {{$phone := .Value "onestepgps_phone"}}
    <main style="background-image: url('./images/solar-powered-opt.png'); background-color: transparent; height:calc(35vw)"
        class="main-page-header landing">

        <div class=" row h-100 align-items-center">
            <div class=" section align-self-center">
                <div class="row align-items-center justify-content-center">
                        <h1 class=" bold text-center">Solar Powered Tracker</h1>
                </div>
            </div>
        </div>
    </main>
    <main class="main-auto pt-mobile" style="background: #F5F7FA">
        <div class="row h-100 align-items-center">
            <div class="section">
                <div class="row ">
                    <div class="col-lg-4 col-sm-12">
                        <div class="row justify-content-center">
                            <div class="info-card">
                                <div class="row h-100 align-items-center">
                                    <div class="">
                                        <div class="row">
                                            <img alt="Fleet tracking map truck icon"
                                                src="./images/tilda-icons/truck.png"
                                                class=" info-card-image text-center" width="62px" height="60px">
                                        </div>
                                        <div>
                                            <div class="info-card-title text-center">
                                                Complete Trailer Visibility
                                            </div>
                                            <div class="info-card-text">
                                                Track all assets (dry,
                                                reefer, container, truck)
                                                on one platform
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row justify-content-center">
                            <div class="info-card  ">
                                <div class="row h-100 align-items-center">
                                    <div class="">
                                        <div class="row">
                                            <img alt="Fleet tracking efficiency durability icon"
                                                src="./images/tilda-icons/Tilda_Icons_1ed_timer.png"
                                                class="  info-card-image text-center" width="62px" height="60px">
                                        </div>
                                        <div>
                                            <div class="info-card-title text-center">
                                                Easy to Install
                                            </div>
                                            <div class="info-card-text">
                                                10-minute install
                                                minimizes operational
                                                disruption and downtime.
                                                Use on any
                                                trailer/container
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-12">
                        <div class="row justify-content-center">
                            <div class="info-card  ">
                                <div class="row h-100 align-items-center">
                                    <div class=" ">
                                        <div class="row">
                                            <img alt="Fleet tracking stolen equipment icon"
                                                class="  info-card-image text-center"
                                                src="./images/tilda-icons/Tilda_Icons_40_IT_effective.png" width="62px"
                                                height="60px">
                                        </div>
                                        <div>
                                            <div class="info-card-title text-center">
                                                Built for the Long Haul
                                            </div>
                                            <div class="info-card-text">
                                                Proven
                                                solar-powered design with
                                                no maintenance for up to
                                                10 years!
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row justify-content-center">
                            <div class="info-card  ">
                                <div class="row h-100 align-items-center">
                                    <div class="" style="width:100%">
                                        <div class="row">
                                            <img alt="Fleet tracking affordable time saving icon"
                                                class="  info-card-image text-center"
                                                src="./images/tilda-icons/Tilda_Icons_40_IT_animation.png" width="62px"
                                                height="60px">
                                        </div>
                                        <div>
                                            <div class="info-card-title text-center">
                                                Increase Utilization
                                            </div>
                                            <div class="info-card-text text-center">
                                                Track usage of your assets and optimize
                                                utilization, isolate unused equipment and
                                                improve billing
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-12">
                        <div class="row justify-content-center">
                            <div class="info-card  ">
                                <div class="row h-100 align-items-center">
                                    <div class="">
                                        <div class="row">
                                            <img alt="Fleet tracking increase utilization" class="  info-card-image text-center"
                                                src="./images/tilda-icons/Tilda_Icons_37_Finance technologies_identification.png"
                                                width="62px" height="60px">
                                        </div>
                                        <div class="text-center">
                                            <div class="info-card-title ">
                                                Recover Stolen Equipment
                                            </div>
                                            <div class="info-card-text">
                                                Get Moving & Leaving alerts to find missing or stolen assets.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row justify-content-center">
                            <div class="info-card  ">
                                <div class="row h-100 align-items-center">
                                    <div class="">
                                        <div class="row">
                                            <img alt="Around the clock fleet tracking"
                                                class="  info-card-image text-center"
                                                src="./images/tilda-icons/Tilda_Icons_43_logistics_timing.png"
                                                width="62px" height="60px">
                                        </div>
                                        <div class="text-center">
                                            <div class="info-card-title">
                                                Locate Any Asset Anytime
                                            </div>
                                            <div class="info-card-text">
                                                Updates every 10 minutes while
                                                moving and every four hours
                                                while parked
                                            </div>
                                            <div class="info-card-subtitle">
                                                * Use optional wiring harness for faster
                                                updates
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <main class="main-auto">
        <div class="hidden row h-100">
            <div class="hidden section align-self-center">
                <div class="hidden row row-pad justify-content-center">
                    <div class="hidden row align-items-center ie-reformat">
                        <div class="hidden col-md-12 col-lg-6 ">
                            <div>
                                <img alt="Fleet tracking for mobile devices, mobile map"
                                    onerror="this.src='./images/map-devices.png'" src="./images-webp/map-devices.webp" class="mobile-image-size">
                            </div>
                        </div>
                        <div class="hidden col-md-12 col-lg-6" style="max-width:100% !important">
                            <div class="hidden row pt-25">
                                <h2 class="pt-0 text-left">
                                    The leading choice for trailer tracking just got even smarter and easier
                                </h2>
                            </div>
                            <div class="hidden paragraph-text w-100">
                                Solar-powered GPS tracking is becoming a more attractive option every day. Battery
                                technology and solar recharging
                                b technology have allowed the tracker to become smaller and easier. The latest in
                                cellular technology consumes less
                                power than ever imaginable, allowing the tracking device to run 10+ years before being
                                replaced. <br><br>
                                Never call around looking for your trailers again. Search assets by name, type, or
                                location to quickly see your entire
                                inventory and instantly locate remote equipment.
                                <br><br>
                                Trailer tracking solutions from OneStepGPS provide complete visibility for fleet
                                managers to optimize utilization, reduce
                                costs, protect cargo, and more. That`s why top companies trust us for reliable and
                                cost-effective trailer management.
                            </div>
                            <div class="hidden row">
                                <div class="hidden button-div">
                                    <a class="hidden button-secondary demoButton">Request a free demo</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <main class="main-auto"
        style="background-image: url('./images/trianglebg.png'); background-color: transparent; background-position: top;">
        <div class="hidden row h-100">
            <div class="hidden section align-self-center">
                <div class="hidden row row-pad">
                    <div class="hidden row align-items-center ie-reformat" style="width: 100%">
                        <div class="hidden col-lg-3 col-md-5">
                            <h2 class="pt-0">Device Features</h2>
                            <div class="row p-5">
                                <div class="col-1" style="margin-left: 22px"><!--suppress HtmlDeprecatedAttribute -->
                                    <img alt="Feature checkmark"
                                        onerror="this.src='./images/check-circle-3@3x.png'"
                                        src="./images-webp/check-circle-3@3x.webp" width="16px"
                                        class="hidden check-circle-3@3x"></div>
                                <div class="col">
                                    <div class="row">
                                        <div class="features-title">Solar Asset Tracker
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row p-5">
                                <div class="col-1" style="margin-left: 22px"><img alt="Feature checkmark"
                                        onerror="this.src='./images/check-circle-3@3x.png'"
                                        src="./images-webp/check-circle-3@3x.webp" width="16px"
                                        class="hidden check-circle-3@3x"></div>
                                <div class="col">
                                    <div class="row">
                                        <div class="features-title">Compact Size
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row p-5">
                                <div class="col-1" style="margin-left: 22px"><img alt="Feature checkmark"
                                        onerror="this.src='./images/check-circle-3@3x.png'"
                                        src="./images-webp/check-circle-3@3x.webp" width="16px"
                                        class="hidden check-circle-3@3x"></div>
                                <div class="col">
                                    <div class="row">
                                        <div class="features-title">Tracks Unpowered Assets
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row p-5">
                                <div class="col-1" style="margin-left: 22px"><img alt="Feature checkmark"
                                        onerror="this.src='./images/check-circle-3@3x.png'"
                                        src="./images-webp/check-circle-3@3x.webp" width="16px"
                                        class="hidden check-circle-3@3x"></div>
                                <div class="col">
                                    <div class="row">
                                        <div class="features-title">Easy Installation in 10 Mins
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row p-5">
                                <div class="col-1" style="margin-left: 22px"><img alt="Feature checkmark"
                                        onerror="this.src='./images/check-circle-3@3x.png'"
                                        src="./images-webp/check-circle-3@3x.webp" width="16px"
                                        class="hidden check-circle-3@3x"></div>
                                <div class="col">
                                    <div class="row">
                                        <div class="features-title">IP67 Waterproof
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row p-5">
                                <div class="col-1" style="margin-left: 22px"><img alt="Feature checkmark"
                                        onerror="this.src='./images/check-circle-3@3x.png'"
                                        src="./images-webp/check-circle-3@3x.webp" width="16px"
                                        class="hidden check-circle-3@3x"></div>
                                <div class="col">
                                    <div class="row">
                                        <div class="features-title">Rugged Solar Panel
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row p-5">
                                <div class="col-1" style="margin-left: 22px"><img alt="Feature checkmark"
                                        onerror="this.src='./images/check-circle-3@3x.png'"
                                        src="./images-webp/check-circle-3@3x.webp" width="16px"
                                        class="hidden check-circle-3@3x"></div>
                                <div class="col">
                                    <div class="row">
                                        <div class="features-title">Motion Detection
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row p-5">
                                <div class="col-1" style="margin-left: 22px"><img alt="Feature checkmark"
                                        onerror="this.src='./images/check-circle-3@3x.png'"
                                        src="./images-webp/check-circle-3@3x.webp" width="16px"
                                        class="hidden check-circle-3@3x"></div>
                                <div class="col">
                                    <div class="row">
                                        <div class="features-title">Low Battery Alarm
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row p-5">
                                <div class="col-1" style="margin-left: 22px"><img alt="Feature checkmark"
                                        onerror="this.src='./images/check-circle-3@3x.png'"
                                        src="./images-webp/check-circle-3@3x.webp" width="16px"
                                        class="hidden check-circle-3@3x"></div>
                                <div class="col">
                                    <div class="row">
                                        <div class="features-title">Removal Alert when Wired
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="hidden col-lg-6 col-md-4" style="text-align: center;">

                            <img alt="Solar powered tracker" class="justify-self-center"
                                onerror="if(this.getAttribute('src') != ''){ this.src='./images/solartracker.png'}"
                                src="./images-webp/solartracker.webp" width="450px" height="450px"
                                style="padding:60px;">

                        </div>
                        <div class="hidden col-md-3 align-self-end paragraph-text pb-50">
                            <div class="row pl-6">
                                <div class="bold">Dimensions:</div>
                            </div>
                            <div class="row p-5 pl-6">
                                <div>12.15″ x 8.11″ x 1.19″ (18mm x 12mm x 3mm)</div>
                            </div>
                            <div class="row p-5 pl-6">
                                <div class="bold">Weight:</div>
                            </div>
                            <div class="row pl-6">
                                <div>1.54lb (0.69kg)</div>
                            </div>


                        </div>
                    </div>
                    <div class="row justify-content-center" style="width: 100%">
                        <div class="col" style="text-align: center;">
                            <div class="blue-headline">$13.95 / month per device</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <main class="main-auto">
        <div class="hidden row h-100">
            <div class="hidden section align-self-center">
                <div class="hidden row row-pad">
                    <div class="hidden row align-items-center ie-reformat">
                        <div class="hidden col-md-6 ">

                            <img alt="Easily locate assets" onerror="this.src='./images/truck-parking.png'"
                                src="./images-webp/truck-parking.webp" height="406" class="shadow-image solar-power-image">

                        </div>
                        <div class="hidden col-md-6" style="max-width:100% !important">
                            <div class="hidden row pt-25">
                                <h2 class="pt-0 text-left">
                                    Track and Locate Assets Easily
                                </h2>
                            </div>
                            <div class="hidden paragraph-text w-100">
                                Monitoring your trailers and remote assets quickly using our tracking platform and
                                reporting to optimize
                                capacity and utilization. Easily identify which trailers are not meeting your targets or
                                prone to theft and take
                                immediate action. Easily schedule equipment maintenance when necessary to avoid
                                downtime.
                            </div>
                            <div class="hidden row">
                                <div class="hidden button-div">
                                    <a class="hidden button-secondary demoButton">Request a free demo</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <main class="main-auto">
        <div class="hidden row h-100">
            <div class="hidden section align-self-center" style="border-top: 1px solid #E0E0E0
            ">
                <div class="hidden row row-pad">
                    <div class="hidden row align-items-center ie-reformat">
                        <div class="hidden col-md-6" style="max-width:100% !important">
                            <div class="hidden row pt-25">
                                <h2 class="pt-0 text-left">
                                    Reduce Idle Days
                                </h2>
                            </div>
                            <div class="hidden paragraph-text mw-80">
                                Find and redeploy trailers that have been sitting idle. Manage trailers more efficiently
                                and find underutilized
                                and sitting trailers. Increase the number of loads per month by each trailer to maximize
                                profit and reduce
                                capital expenses.
                            </div>
                        </div>
                        <div class="hidden col-md-6 ">

                            <img alt="Fleet tracking logistics reduce idle time"
                                onerror="this.src='./images/logistic-center.png'"
                                src="./images-webp/logistic-center.webp" height="406" class="shadow-image solar-power-image">

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </main>
    <main class="main-auto" style="border-top: 1px solid #E0E0E0">
        <div class="hidden row h-100">
            <div class="hidden section align-self-center">
                <div class="hidden row row-pad">
                    <div class="hidden row align-items-center ie-reformat">
                        <div class="hidden col-md-6 ">

                            <img alt="Fleet tracking for trucks manage detention billing"
                                onerror="this.src='./images/trucks-intertwined.png'"
                                src="./images-webp/trucks-intertwined.webp" height="350" class="shadow-image solar-power-image">

                            <img alt="iPad with statistics" style="position: absolute; bottom: -50px; right: 50px"
                                src="./images/iPad 5.png" height="250">


                        </div>
                        <div class="hidden col-md-6" style="max-width:100% !important">
                            <div class="hidden row pt-25">
                                <h2 class="pt-0 text-left">
                                    Better Manage Detention Billing
                                </h2>
                            </div>
                            <div class="hidden paragraph-text w-100">
                                Track how long a trailer has been at a customer`s location, which trailers are still in
                                free time, and have
                                entered detention.
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <main class="main-auto">
        <div class="hidden row h-100">
            <div class="hidden section align-self-center" style="border-top: 1px solid #E0E0E0
            ">
                <div class="hidden row row-pad">
                    <div class="hidden row align-items-center ie-reformat">
                        <div class="hidden col-md-6" style="max-width:100% !important">
                            <div class="hidden row pt-25">
                                <h2 class="pt-0 text-left">
                                    Smart Sensor Integration
                                </h2>
                            </div>
                            <div class="hidden paragraph-text mw-80">
                                A system of sensors optional sensors allows you to monitor doors opening and closing,
                                temperature, and
                                more.
                            </div>
                            <div class="hidden row pb-mobile">
                                <div class="hidden button-div">
                                    <a class="hidden button-secondary demoButton bg-red">Request a free demo</a>
                                </div>
                            </div>
                        </div>
                        <div class="hidden col-md-6 ">

                            <img alt="Fleet tracking sensor integration" onerror="this.src='./images/blue-truck.png'"
                                src="./images-webp/blue-truck.webp" height="406" class="shadow-image solar-power-image">
                            <img alt="thermometer alert" style="position: absolute; top: -50px; left: 20px"
                                src="./images/thermometer.png" height="180">
                            <img alt="trailer doors alert" style="position: absolute; bottom: -50px; right: -30px"
                                src="./images/trailer-doors-alert.png" height="130">
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </main>
    <main class="main-auto" style="border-top: 1px solid #E0E0E0">
        <div class="hidden row h-100">
            <div class="hidden section align-self-center">
                <div class="hidden row row-pad">
                    <div class="hidden row align-items-center ie-reformat">
                        <div class="hidden col-md-6 ">

                            <img alt="Fleet tracking trailer connection" onerror="this.src='./images/trailer-connection.png'" src="./images-webp/trailer-connection.webp"
                                height="350" class="solar-power-image">



                        </div>
                        <div class="hidden col-md-6" style="max-width:100% !important">
                            <div class="hidden row pt-25">
                                <h2 class="pt-0 text-left">
                                    Optional Dual-Mode -- every 30 seconds
                                </h2>
                            </div>
                            <div class="hidden paragraph-text w-100">
                                It is wired to an external power source like a trailer in tow.

                                <ul style="padding-left: 20px; line-height: 2.5">
                                    <li>The internal battery will charge, and the device will operate in real-time</li>
                                    <li>Sends GPS location typically every 30 seconds</li>
                                </ul>

                                When the trailer disconnects from the tractor:
                                <ul style="padding-left: 20px; line-height: 2.5">
                                    <li>External power is disconnected</li>
                                    <li>The device will automatically switch to asset tracking mode powered by its
                                        internal battery</li>
                                </ul>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <main class="main-auto" style="background-color: white; ">
        <div class="hidden row h-100">
            <div class="hidden section align-self-center" style="border-top: 1px solid #E0E0E0
            ">
                <div class="hidden row row-pad">
                    <div class="hidden row align-items-center ie-reformat">
                        <div class="hidden col-md-6" style="max-width:100% !important">
                            <div class="hidden row pt-25 mw-80 pb-mobile">
                                <h2 class="pt-0 text-left">
                                    Durability and performance — any weather or location, lifetime warranty
                                </h2>
                                <div class="paragraph-text">
                                    Durability is built into the device. Whether rain or shine, in arid or humid areas,
                                    asset tracking is guaranteed.
                                </div>
                                <div class="hidden row">
                                    <div class="hidden button-div">
                                        <a class="hidden button-secondary demoButton">Request a free demo</a>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="hidden col-md-6 ">
                            <div class="row py-10">
                                <div class="col pr-15">
                                    <div>
                                        <img alt="Fleet tracking weatherproof"
                                            src="./images/basic-icons/CloudSun.png" height="66">
                                    </div>
                                    <div class="paragraph-text bold">
                                        Weatherproof
                                    </div>
                                    <div class="paragraph-text">
                                        Rain, snow or sunshine built to operate in all conditions. <br>
                                        Operating temperatures -40°F to 158°F
                                    </div>
                                </div>
                                <div class="col pl-15">
                                    <div>
                                        <img alt="Fleet tracking durable"
                                            src="./images/basic-icons/HardDrive.png" height="66">
                                    </div>
                                    <div class="paragraph-text bold">
                                        With a fully sealed, protective case
                                    </div>
                                    <div class="paragraph-text">
                                        The device can be deployed in marine and desert environments.

                                    </div>
                                </div>
                            </div>
                            <div class="row py-10">
                                <div class="col pr-15">
                                    <div>
                                        <img alt="Fleet tracking waterproof" src="./images/basic-icons/Drop.png"
                                            height="66">
                                    </div>
                                    <div class="paragraph-text bold">
                                        Meets IP 67 rating

                                    </div>
                                    <div class="paragraph-text">
                                        100% protected against solid objects like dust and sand
                                    </div>
                                </div>
                                <div class="col pl-15">
                                    <div>
                                        <img alt="Fleet tracking long battery life"
                                            src="./images/basic-icons/PokerChip.png" height="66">
                                    </div>
                                    <div class="paragraph-text bold">
                                        Long battery life
                                    </div>
                                    <div class="paragraph-text">
                                        With solar recharging, the unit can last 10 years.
                                    </div>
                                </div>
                            </div>
                            <div class="row py-10">
                                <div class="col pr-15">
                                    <div>
                                        <img alt="Fleet tracking temperature sensor"
                                            src="./images/basic-icons/Thermometer.png" height="66">
                                    </div>
                                    <div class="paragraph-text bold">
                                        Additional add-ons
                                    </div>
                                    <div class="paragraph-text">
                                        RSupport for multiple sensors, including temperature and door sensor
                                    </div>
                                </div>
                                <div class="col pl-15">
                                    <div>
                                        <img alt="Fleet tracking easy installation"
                                            src="./images/basic-icons/DropHalf.png" height="66">
                                    </div>
                                    <div class="paragraph-text bold">
                                        Easy installation
                                    </div>
                                    <div class="paragraph-text">
                                        Multiple mounting options and no wiring required make this one of the easiest
                                        trackers to install.
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </main>
    <main class="main-auto  main-above-skew" style="background-color: white; padding-bottom: 150px;">
        <div class="hidden row h-100">
            <div class="hidden section align-self-center" style="border-top: 1px solid #E0E0E0
            ">
                <div class="hidden row row-pad">
                    <div class="hidden row align-items-center ie-reformat">

                        <div class="hidden col-md-6 ">

                            <img alt="Fleet tracking long battery life"  onerror="this.src='./images/truck-battery.png'" src="./images-webp/truck-battery.webp" height="330" class="solar-power-image">

                        </div>
                        <div class="hidden col-md-6" style="max-width:100% !important">
                            <div class="hidden row pt-25">
                                <h2 class="pt-0 text-left">
                                    Longer battery life — the energy to deliver more
                                </h2>
                            </div>
                            <div class="hidden paragraph-text mw-80">
                                A high-capacity battery and a high-performance solar panel join together to provide 10+
                                years of reliable
                                tracking and provide more frequent updates for longer periods than other asset tracking
                                devices.
                                <ul style="padding-left: 20px; line-height: 2.5">
                                    <li>Energy harvesting supports long-term, remote deployments</li>
                                    <li>10 Ah rechargeable lithium battery</li>
                                    <li>Up to 4,000 GOS positions on a single charge</li>
                                    <li>High-efficiency solar panel charges and maximizes operating life of the internal
                                        battery</li>
                                    <li>Operating Temperature: -40°F to 158°F (-40°C to 70°C)</li>
                                </ul>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </main>
    <main class="skew main-auto" style="margin-top: -170px;">
        <div class="hidden row h-100 align-items-center">
            <div class="hidden section  unskew">
                <div class="hidden">
                    <div class="hidden row">
                        <h2 class="hidden text-center">One Step GPS is great 💪 for <br> Powered & Non-Powered Assets</h2>
                    </div>
                    <div class="hidden row">
                        <span class="hidden paragraph-text text-center mw-60">
                            No matter what your industry, OneStepGPS can give you actionable data at your figure tips.
                            Our solar tracker works seamlessly with all other equipment tracking options. We have
                            devices to fit all of your needs.
                        </span>
                    </div>
                    <div class="hidden row ">
                        <div class="hidden col" align="center">
                            <div class="info-card-medium">
                                <div class="row justify-content-center align-items-center h-100">
                                    <div class="col-sm-3 text-center">
                                        <img src="./images/tilda-icons/Tilda_Icons_43_logistics_van.png"
                                            alt="agriculture equipment">
                                    </div>
                                    <div class="col-sm-9">
                                        <div class="row">
                                            <div class="info-card-title pt-0">
                                                Agriculture Equipment
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="info-card-text text-left mw-80">
                                                Balers, Combines, Seeders, Sprayers and Tractors
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="info-card-medium">
                                <div class="row justify-content-center align-items-center h-100">
                                    <div class="col-sm-3 text-center">
                                        <img src="./images/tilda-icons/charge-equipment.png" alt="charge equipment">
                                    </div>
                                    <div class="col-sm-9">
                                        <div class="row">
                                            <div class="info-card-title pt-0">
                                                Equipment Rentals
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="info-card-text text-left mw-80">
                                                Compressors, Industrial generators and Man lifts
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="info-card-medium">
                                <div class="row justify-content-center align-items-center h-100">
                                    <div class="col-sm-3 text-center">
                                        <img src="./images/tilda-icons/forklift.png" alt="mobile equipment">
                                    </div>
                                    <div class="col-sm-9">
                                        <div class="row">
                                            <div class="info-card-title pt-0">
                                                Mobile Equipment
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="info-card-text text-left mw-80">
                                                Boom lifts, Forklifts, Generators, Load banks, Pumps, Scissor lifts and
                                                Tower Lighting
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="info-card-medium">
                                <div class="row justify-content-center align-items-center h-100">
                                    <div class="col-sm-3 text-center">
                                        <img src="./images/tilda-icons/roadsign.png" alt="road sign">
                                    </div>
                                    <div class="col-sm-9">
                                        <div class="row">
                                            <div class="info-card-title pt-0">
                                                Road Signature
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="info-card-text text-left mw-80">
                                                Arrow boards and Message boards
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="hidden col" align="center">
                            <div class="info-card-medium">
                                <div class="row justify-content-center align-items-center h-100">
                                    <div class="col-sm-3 text-center">
                                        <img src="./images/tilda-icons/bulldozer.png" alt="construction equipment">
                                    </div>
                                    <div class="col-sm-9">
                                        <div class="row">
                                            <div class="info-card-title pt-0">
                                                Construction and Heavy Equipment
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="info-card-text text-left mw-80">
                                                Cranes, Excavators, Hammers, Mixers, Rollers, Skid steers and Tractors
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="info-card-medium">
                                <div class="row justify-content-center align-items-center h-100">
                                    <div class="col-sm-3 text-center">
                                        <img src="./images/tilda-icons/intermodal.png" alt="intermodal equipment">
                                    </div>
                                    <div class="col-sm-9">
                                        <div class="row">
                                            <div class="info-card-title pt-0">
                                                Intermodal
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="info-card-text text-left mw-80">
                                                Chassis, Containers and Rail cars
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="info-card-medium">
                                <div class="row justify-content-center align-items-center h-100">
                                    <div class="col-sm-3 text-center">
                                        <img src="./images/tilda-icons/oil-and-gas.png" alt="oil and gas equipment">
                                    </div>
                                    <div class="col-sm-9">
                                        <div class="row">
                                            <div class="info-card-title pt-0">
                                                Oil & Gas Equipment
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="info-card-text text-left mw-80">
                                                Air tools, Bottom tanks, Pipe, Pumps and Storage tanks
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="info-card-medium">
                                <div class="row justify-content-center align-items-center h-100">
                                    <div class="col-sm-3 text-center">
                                        <img src="./images/tilda-icons/dump-truck.png" alt="scrap and waste equipment">
                                    </div>
                                    <div class="col-sm-9">
                                        <div class="row">
                                            <div class="info-card-title pt-0">
                                                Scrap and Waste Management
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="info-card-text text-left mw-80">
                                                Bins, Containers, Dump trailers, Dumpsters cans and Roll-Off containers
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="width: 100%;">
                        <div class="col text-center">
                            <div class="info-card-medium" style="margin: 35px auto 43px;">
                                <div class="row justify-content-center align-items-center h-100">
                                    <div class="col-sm-3 text-center">
                                        <img src="./images/tilda-icons/dump-truck.png" alt="scrap and waste equipment">
                                    </div>
                                    <div class="col-sm-9">
                                        <div class="row">
                                            <div class="info-card-title pt-0">
                                                Transportation and Logistics
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="info-card-text text-left mw-80">
                                                Chassis, Containers, Dry vans, Flatbeds, Refrigerated units and Trailers
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </main>
    <main class="main-auto" style="background-color: #f5f7fa;">
        <div class="hidden row h-100">
            <div class="hidden section align-self-center">
                <div class="hidden row-pad">
                    <div class="hidden col-sm">
                        <div class="hidden row justify-content-md-center justify-content-sm-start">
                            <h2 class="hidden p-0 z-1">
                                Let us create a solar tracking solution tailored to you
                            </h2>
                        </div>
                        <img alt="underline" onerror="this.src='./images/underline-2.png'"
                            src="./images-webp/underline-2.webp" class="hidden underline-graphic-image-6 mobile-hidden">
                        <div class="hidden row justify-content-md-center justify-content-sm-start">
                            <div class="hidden h2-subtitle">
                                Contact one of our knowledgeable and friendly staff to learn more about how OneStepGPS
                                can help you gain visibility, control operating costs and reduce losses from theft and
                                damage.
                            </div>
                        </div>
                        <div class="hidden row text-center">
                            <div class="hidden button-div p-0 text-center row justify-content-center">
                                <a href="tel:{{$phone}}" class="hidden button-primary" aria-hidden="true" role="presentation">
                                    <img alt="Phone icon" onerror="this.src='./images/icon-phone@3x.png'"
                                        src="./images-webp/icon-phone@3x.webp" class="hidden iconphone">
                                    {{FormatPhone $phone}}
                                </a>
                                <a class="hidden button-secondary chat-button">
                                    <img alt="Chat with us" onerror="this.src='./images/comment-alt-dots-3.png'"
                                        src="./images-webp/comment-alt-dots-3.webp" class="hidden comment-alt-dots3">
                                    Chat with us
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>
</html>
{{end}}
