<!doctype html>
<html lang="en">

<head>
    {{ template "templates/header-tags.template.html" .}}
    <title>Speaking Up - OneStepGPS.com</title>
    <meta name="description"
          content="Voicing a concern should be as easy and frictionless as possible. There are several ways to tell us that something is not right. Please select a reporting option that you are most comfortable. Remember your confidentiality will be taken very seriously by us, no matter what option you choose.">
    <script type="application/ld+json">
        {
            "@context": "https://schema.org",
            "@type": "WebPage",
            "url": "https://onestepgps.com/speaking-up",
            "name": "Speaking Up",
            "description": "Our commitment to corporate responsibility and integrity. Voicing a concern should be as easy and frictionless as possible.",
            "mainEntityOfPage": {
                "@type": "WebPage",
                "@id": "https://onestepgps.com/speaking-up"
            },
            "breadcrumb": {
                "@type": "BreadcrumbList",
                "itemListElement": [
                    {
                        "@type": "ListItem",
                        "position": 1,
                        "item": {
                            "@type": "WebPage",
                            "@id": "https://onestepgps.com",
                            "name": "One Step GPS"
                        }
                    },
                    {
                        "@type": "ListItem",
                        "position": 2,
                        "item": {
                            "@type": "WebPage",
                            "@id": "https://onestepgps.com/speaking-up",
                            "name": "Speaking Up"
                        }
                    }
                ]
            }
        }
    </script>
    <script type="application/ld+json">
        {
            "@context": "https://schema.org",
            "@type": "Organization",
            "name": "One Step GPS",
            "alternateName": "One Step GPS Fleet Tracking",
            "url": "https://onestepgps.com",
            "logo": "https://www.onestepgps.com/images/onestepgps_color_logotype.svg"
        }
    </script>
</head>

<body onload="animateHTML();" style="background-color: #F5F7FA;">
{{ template "templates/navbar.template.html" .}}
{{define "page-content"}}
{{$phone := .Value "onestepgps_phone"}}
<main style="background-image: url('./images/speaking-up/speaking-up-hero.png'); background-color: transparent;"
      class="main-page-header landing">
    <div class="hidden row h-100">
        <div class="hidden section align-self-center">
            <div class="hidden row">
                <div class="text-align-center mx-auto mw-60">
                    <h1 class="pt-mobile hidden statement-header mw-100">Speaking Up</h1>
                    <p class="text-white paragraph-text px-4" style="font-family: neue-haas-grotesk-display, sans-serif;">Our commitment to corporate responsibility and integrity</p>
                </div>
            </div>
        </div>
    </div>
</main>
<main class="main-auto" style="background-color: transparent;">
    <div class="hidden row h-100">
        <div class="hidden section align-self-center mw-60">
            <h2 class="h7 text-center">How to report a concern</h2>
            <div class="paragraph-text" style="ont-family: neue-haas-grotesk-display, sans-serif; text-align: center">
                Voicing a concern should be as easy and frictionless as possible. There are several ways to tell us that something is not right. Please select a reporting option that you are most comfortable. <br>
                Remember your confidentiality will be taken very seriously by us, no matter what option you choose.
            </div>
        </div>
    </div>
    <div class="hidden row px-md-5">
        <div class="hidden col-md-6 col-sm-12 px-3" align="center">
            <div class="info-card-large">
                <div class="row justify-content-center align-items-center h-100 p-20">
                    <div class="col-sm-3 mobile-info-card-large-icon">
                        <img src="./marketing-site-test/images/tilda-icons/Tilda_Icons_17ked_languages.png"
                             alt="web icon in a chat bubble">
                    </div>
                    <div class="col-sm-9">
                        <div class="row">
                            <div class="info-card-title pt-0">
                                Web
                            </div>
                        </div>
                        <div class="row">
                            <div class="paragraph-text text-left" style="font-family: neue-haas-grotesk-display, sans-serif">
                                Visit One Step GPS anonymous web reporting tool.
                            </div>
                        </div>
                        <div class="row align-items-center pt-2">
                            <a href="https://onestepgps.allvoices.co/" class="bold paragraph-text pr-2" style="color: #4193DF; font-family: neue-haas-grotesk-display, sans-serif">Report a concern</a>
                            <img src="marketing-site-test/images/arrow-right-2.png" alt="blue arrow pointing to the right" width="13" height="13">
                        </div>
                    </div>
                </div>
            </div>
            <div class="info-card-large">
                <div class="row justify-content-center align-items-center h-100 p-20">
                    <div class="col-sm-3 mobile-info-card-large-icon">
                        <img src="./marketing-site-test/images/tilda-icons/Tilda_Icons_2web_phone.png"
                             alt="phone ringing">
                    </div>
                    <div class="col-sm-9">
                        <div class="row">
                            <div class="info-card-title pt-0">
                                Phone
                            </div>
                        </div>
                        <div class="row">
                            <div class="paragraph-text text-left" style="font-family: neue-haas-grotesk-display, sans-serif;">
                                We're available during normal business hours at the number below.
                            </div>
                        </div>
                        <div class="row align-items-center pt-2">
                            <img src="marketing-site-test/images/basic-icons/blue-phone-icon.png" alt="blue arrow pointing to the right" width="14" height="11">
                            <a href="tel:8186592031" class="bold paragraph-text pl-2" style="color: #4193DF; font-family: neue-haas-grotesk-display, sans-serif;">1-818-659-2031</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="hidden col-md-6 col-sm-12 px-3" align="center">
            <div class="info-card-large">
                <div class="row justify-content-center align-items-center h-100 p-20">
                    <div class="col-sm-3 mobile-info-card-large-icon">
                        <img src="./marketing-site-test/images/tilda-icons/Tilda_Icons_19ad_mailing.png"
                             alt="email">
                    </div>
                    <div class="col-sm-9">
                        <div class="row">
                            <div class="info-card-title pt-0">
                                Email
                            </div>
                        </div>
                        <div class="row align-items-center pt-2">
                            <img src="marketing-site-test/images/basic-icons/blue-email-icon.png" alt="blue arrow pointing to the right" width="14" height="11">
                            <a href="mailto:legal@onestepgps.com" class="bold paragraph-text pl-2" style="color: #4193DF; font-family: neue-haas-grotesk-display, sans-serif">legal@onestepgps.com</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="info-card-large">
                <div class="row justify-content-center align-items-center h-100 p-20">
                    <div class="col-sm-3 mobile-info-card-large-icon">
                        <img src="./marketing-site-test/images/tilda-icons/Tilda_Icons_1ed_mail.png"
                             alt="envelope">
                    </div>
                    <div class="col-sm-9">
                        <div class="row">
                            <div class="info-card-title pt-0">
                                Mail
                            </div>
                        </div>
                        <div class="row">
                            <div class="paragraph-text text-left" style="font-family: neue-haas-grotesk-display, sans-serif">
                                One Step GPS - HQ<br>
                                675 Glenoaks Blvd, Suite C<br>
                                San Fernando, CA 91340<br>
                                United States of America<br>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<div class="main-auto pt-mobile py-150 " style="background: #F5F7FA">
    {{ template "templates/transform-your-business.template.html" .}}
</div>
</body>
</html>
{{end}}
