<!doctype html>
<html lang="en">

<head>
    {{ template "templates/header-tags.template.html" .}}
    <title>Trucking | Affordable ELD Compliant GPS Tracking Solution</title>
    <meta name="description" content="Use One Step GPS to stay on top of location, routes, stoppage times and engine idling,
    while keeping up with regulations and requirements of the Department of Transport.">
    <script type="application/ld+json">
        {
            "@context": "https://schema.org/",
            "@graph": [
                {
                    "@type": "Product",
                    "name": "One Step GPS Truck Tracking | DOT Compliant ELD Truck GPS Tracking",
                    "image": {
                        "@type": "ImageObject",
                        "url": "https://www.onestepgps.com/images-webp/iphone-mockup.webp"
                    },
                    "offers": {
                        "@type": "Offer",
                        "priceCurrency": "USD",
                        "price": "13.95",
                        "availability": "https://schema.org/InStock",
                        "url": "https://www.onestepgps.com/trucking-and-eld",
                        "priceValidUntil": ""
                    },
                    "aggregateRating": {
                        "@type": "AggregateRating",
                        "ratingValue": "4.9",
                        "ratingCount": "1225",
                        "reviewCount": "1225",
                        "bestRating": "5",
                        "worstRating": "1"
                    },
                    "description": "One Step GPS offers a DOT compliant ELD system as an affordable addition to our standard GPS tracking. Whether you have a local fleet doing deliveries or an international fleet transporting goods all over the US, Canada & Mexico, we can help simplify business operations, speed up your drivers, deliver actionable data and reports to help you better manage your fleet.",
                    "brand": "One Step GPS"
                },
                {
                    "@type": "Article",
                    "author": {
                        "@type": "Organization",
                        "name": "On Step GPS",
                        "url": "https://onestepgps.com"
                    },
                    "headline": "One Step GPS offers a DOT compliant ELD system as an affordable addition to our standard GPS tracking.",
                    "image": {
                        "@type": "ImageObject",
                        "url": "https://www.onestepgps.com/images-webp/iphone-mockup.webp"
                    },
                    "datePublished": "2021-01-02T08:00:00.000Z",
                    "publisher": {
                        "@type": "Organization",
                        "name": "OneStepGPS.com"
                    },
                    "keywords": "trucking and eld, ELD truck tracking, dot compliant eld system, eld gps tracking, affordable eld system, gps truck tracking",
                    "description": "Whether you have a local fleet doing deliveries or an international fleet transporting goods all over the US, Canada & Mexico, we can help simplify business operations, speed up your drivers, deliver actionable data and reports to help you better manage your fleet."
                }
            ]
        }
    </script>
</head>


<body onload="animateHTML();" style="background-color: #f5f7fa;">
{{ template "templates/navbar.template.html" .}}
{{define "page-content"}}
<main style="background-image: url('./images/trucking.png'); background-color: transparent;"
      class="main-page-header landing">
    <div class="hidden row h-100">
        <div class="hidden section align-self-center">
            <div class="hidden row">
                <h1 class="hidden bold text-center">Trucking and ELD</h1>
            </div>
        </div>
    </div>
</main>
<main class="main-auto pb-230 main-overflow" style="background-color: #f5f7fa;">
    <div class="hidden row h-100">
        <div class="hidden section align-self-center">
            <div class="hidden row-pad text-center">
                <div class="hidden row justify-content-md-center justify-content-sm-start">
                    <h2 class="hidden p-0">
                        One Step GPS offers a DOT compliant ELD system as an affordable addition to our standard GPS
                        tracking.
                    </h2>
                </div>
                <div class="hidden row  pt-25 pb-10">
                        <span class="hidden h2-subtitle text-left w-100">
                            Whether you have a local fleet doing deliveries or an international fleet transporting
                            goods all over the US, Canada & Mexico, we can help simplify business operations, speed up
                            your drivers, deliver actionable data and reports to help you better manage your fleet.
                            <br><br>
                            Not only is it useful to know location, routes, stopping times, and engine idling, but we
                            also help you to keep up with the increasing changes, regulations, and electronic
                            requirements of the U.S. Department of Transportation and help ensure compliance across your
                            fleet.
                        </span>
                </div>
                <div class="hidden col-sm">
                    <div class="floating-div row text-left">
                        <div class="col">
                            <div class="row blue-row">
                                <div class="col-6 table-col-text align-self-center">Compare Plans</div>
                                <div align="center" class="col-3 align-self-center ">
                                    <div class="row justify-content-center table-col-text">GPS Tracking</div>
                                    <div class="row justify-content-center blue-row-subtitle">$13.95/mo</div>

                                </div>
                                <div align="center" class="col-3 align-self-center table-col-text">
                                    <div class="row justify-content-center table-col-text">GPS Tracking + ELD</div>
                                    <div class="row justify-content-center blue-row-subtitle">$20.95/mo</div>
                                </div>
                            </div>
                            <div class="row white-row paragraph-text justify-content-md-center">
                                <div class="col-6">Real-time GPS locations 24/7/365</div>
                                <div class="col-3 align-self-center" align="center"><img
                                        src="./images-webp/check-circle-3.webp" alt="Features checkmark"
                                        onerror="this.src='./images/check-circle-3.png'" width="21px"
                                        class="hidden check-circle-3 "></div>
                                <div class="col-3 align-self-center" align="center"><img
                                        src="./images-webp/check-circle-3.webp" alt="Features checkmark"
                                        onerror="this.src='./images/check-circle-3.png'" width="21px"
                                        class="hidden check-circle-3"></div>
                            </div>
                            <div class="row grey-row paragraph-text">
                                <div class="col-6">Turn-by-turn location updates</div>
                                <div class="col-3 align-self-center" align="center"><img
                                        src="./images-webp/check-circle-3.webp" alt="Features checkmark"
                                        onerror="this.src='./images/check-circle-3.png'" width="21px"
                                        class="hidden check-circle-3"></div>
                                <div class="col-3 align-self-center" align="center"><img
                                        src="./images-webp/check-circle-3.webp" alt="Features checkmark"
                                        onerror="this.src='./images/check-circle-3.png'" width="21px"
                                        class="hidden check-circle-3"></div>
                            </div>
                            <div class="row white-row paragraph-text">
                                <div class="col-6">Over 20+ custom alerts & reports</div>
                                <div class="col-3 align-self-center" align="center"><img
                                        src="./images-webp/check-circle-3.webp" alt="Features checkmark"
                                        onerror="this.src='./images/check-circle-3.png'" width="21px"
                                        class="hidden check-circle-3"></div>
                                <div class="col-3 align-self-center" align="center"><img
                                        src="./images-webp/check-circle-3.webp" alt="Features checkmark"
                                        onerror="this.src='./images/check-circle-3.png'" width="21px"
                                        class="hidden check-circle-3"></div>
                            </div>
                            <div class="row grey-row paragraph-text">
                                <div class="col-6">Monitor fuel costs to help find discrepancies</div>
                                <div class="col-3 align-self-center" align="center"><img
                                        src="./images-webp/check-circle-3.webp" alt="Features checkmark"
                                        onerror="this.src='./images/check-circle-3.png'" width="21px"
                                        class="hidden check-circle-3"></div>
                                <div class="col-3 align-self-center" align="center"><img
                                        src="./images-webp/check-circle-3.webp" alt="Features checkmark"
                                        onerror="this.src='./images/check-circle-3.png'" width="21px"
                                        class="hidden check-circle-3"></div>
                            </div>
                            <div class="row white-row paragraph-text">
                                <div class="col-6">Multiple users</div>
                                <div class="col-3 align-self-center" align="center"><img
                                        src="./images-webp/check-circle-3.webp" alt="Features checkmark"
                                        onerror="this.src='./images/check-circle-3.png'" width="21px"
                                        class="hidden check-circle-3"></div>
                                <div class="col-3 align-self-center" align="center"><img
                                        src="./images-webp/check-circle-3.webp" alt="Features checkmark"
                                        onerror="this.src='./images/check-circle-3.png'" width="21px"
                                        class="hidden check-circle-3"></div>
                            </div>
                            <div class="row grey-row paragraph-text">
                                <div class="col-6">Lifetime support</div>
                                <div class="col-3 align-self-center" align="center"><img
                                        src="./images-webp/check-circle-3.webp" alt="Features checkmark"
                                        onerror="this.src='./images/check-circle-3.png'" width="21px"
                                        class="hidden check-circle-3"></div>
                                <div class="col-3 align-self-center" align="center"><img
                                        src="./images-webp/check-circle-3.webp" alt="Features checkmark"
                                        onerror="this.src='./images/check-circle-3.png'" width="21px"
                                        class="hidden check-circle-3"></div>
                            </div>
                            <div class="row white-row paragraph-text">
                                <div class="col-6">No contract or cancellation fees</div>
                                <div class="col-3 align-self-center" align="center"><img
                                        src="./images-webp/check-circle-3.webp" alt="Features checkmark"
                                        onerror="this.src='./images/check-circle-3.png'" width="21px"
                                        class="hidden check-circle-3"></div>
                                <div class="col-3 align-self-center" align="center"><img
                                        src="./images-webp/check-circle-3.webp" alt="Features checkmark"
                                        onerror="this.src='./images/check-circle-3.png'" width="21px"
                                        class="hidden check-circle-3"></div>
                            </div>
                            <div class="row grey-row paragraph-text">
                                <div class="col-6">FMCSA certified GPS device and DOT compliant ELD system</div>
                                <div class="col-3 align-self-center" align="center"></div>
                                <div class="col-3 align-self-center" align="center"><img
                                        src="./images-webp/check-circle-3.webp" alt="Features checkmark"
                                        onerror="this.src='./images/check-circle-3.png'" width="21px"
                                        class="hidden check-circle-3"></div>
                            </div>
                            <div class="row white-row paragraph-text">
                                <div class="col-6">Electronic logging of miles driven for IFTA reporting</div>
                                <div class="col-3 align-self-center" align="center"></div>
                                <div class="col-3 align-self-center" align="center"><img
                                        src="./images-webp/check-circle-3.webp" alt="Features checkmark"
                                        onerror="this.src='./images/check-circle-3.png'" width="21px"
                                        class="hidden check-circle-3"></div>
                            </div>
                            <div class="row grey-row paragraph-text">
                                <div class="col-6">Electronic driver inspection reports</div>
                                <div class="col-3 align-self-center" align="center"></div>
                                <div class="col-3 align-self-center" align="center"><img
                                        src="./images-webp/check-circle-3.webp" alt="Features checkmark"
                                        onerror="this.src='./images/check-circle-3.png'" width="21px"
                                        class="hidden check-circle-3"></div>
                            </div>
                            <div class="row white-row paragraph-text brb-4">
                                <div class="col-6">Multiple electronic data transfer options</div>
                                <div class="col-3 align-self-center" align="center"></div>
                                <div class="col-3 align-self-center" align="center"><img
                                        src="./images-webp/check-circle-3.webp" alt="Features checkmark"
                                        onerror="this.src='./images/check-circle-3.png'" width="21px"
                                        class="hidden check-circle-3"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<main class="main-auto pt-300">
    <div class="hidden row h-100">
        <div class="hidden section align-self-center">
            <div class="hidden row">
                <div class="hidden button-div text-center">
                    <a class="hidden button-secondary demoButton">
                        Request a free demo
                    </a>
                </div>
            </div>
            <div class="hidden row row-pad pt-0">
                <div class="hidden row justify-content-md-center justify-content-sm-start w-100">
                    <h2 class="hidden">Benefits of using One Step GPS</h2>
                </div>
                <div class="hidden row align-items-center ie-reformat">
                    <div class="hidden col-sm ">
                        <div>
                            <img alt="Fleet tracking for mobile device"
                                 onerror="this.src='./images/iphone-mockup.png'"
                                 src="./images-webp/iphone-mockup.webp" class="hidden Macbook-4 ">
                        </div>
                    </div>
                    <div class="hidden col-sm" style="max-width:100% !important">
                        <div class="hidden row pt-25">
                                <span class="camera-gallery-title">
                                    The benefits of using ELD
                                </span>
                        </div>
                        <div class="hidden paragraph-text w-100">
                            ELD improves the speed of record-keeping, reduces human error, and eliminates the need
                            to stop and keep manual reports of odometer readings and miles driven in each state.
                            Benefits include easier scheduling between fleet managers and drivers, more accurate
                            overtime and payroll records, and increased efficiency in vehicle inspection and
                            reports, to name a few.
                        </div>
                    </div>
                </div>
                <div class="hidden row align-items-center ie-reformat">
                    <div class="hidden col-sm">
                        <div class="hidden row pt-25">
                                <span class="camera-gallery-title">
                                    How it works
                                </span>
                        </div>
                        <div class="hidden paragraph-text w-100">
                            With the simple installation of our device, you can pair the driver's phone or tablet
                            and get started. Our app is easy to use and keeps up to date with all the regulations
                            and exemptions - making it easy for your fleet to stay compliant.
                            ELDs communicate with a truck's engine control systems to collect VIN, engine status,
                            RPMs, speed, engine hours, as well as provide accurate, near real-time GPS location
                            information to a logging device or app that DOT officials can check when needed.
                        </div>
                    </div>
                    <div class="hidden col-sm">
                        <div>
                            <img alt="Fleet tracking for desktop or laptop"
                                 onerror="this.src='./images/macbook-angle-right.png'"
                                 src="./images-webp/macbook-angle-right.webp" class="hidden Macbook-4">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<main class="main-auto">
    <div class="hidden row h-100">
        <div class="hidden section">
            <div class="hidden row-pad">
                <div class="hidden row-pad row-card text-center">
                    <div class="hidden row">
                            <span class="camera-gallery-title">
                                Additional Features
                            </span>
                    </div>
                    <div class="hidden row">
                        <div class="hidden separator"></div>
                    </div>
                    <div class="hidden row">
                        <div class="hidden col-sm text-left">
                            <div class="hidden row align-items-center row-card-line">
                                    <span class="hidden paragraph-text mw-80">
                                        100% web-based administrator portal - no software downloads and can be viewed as
                                        long as you have access to the Internet
                                    </span>
                            </div>
                            <div class="hidden row align-items-center row-card-line">
                                    <span class="hidden paragraph-text mw-80">
                                        iPhone and Android apps
                                    </span>
                            </div>
                            <div class="hidden row align-items-center row-card-line">
                                    <span class="hidden paragraph-text mw-80">
                                        View stops, parked locations, and durations in satellite or Google Maps street
                                        view
                                    </span>
                            </div>
                            <div class="hidden row align-items-center row-card-line">
                                    <span class="hidden paragraph-text mw-80">
                                        Risky driver behavior alerts (speeding, fast acceleration, harsh braking, engine
                                        idling)
                                    </span>
                            </div>
                            <div class="hidden row align-items-center row-card-line">
                                    <span class="hidden paragraph-text mw-80">
                                        Additional text and/or email alerts include device disconnected, after hours
                                        driving, entering or exiting a designated area such as a job site
                                    </span>
                            </div>
                        </div>
                        <div class="hidden col-sm text-left">
                            <div class="hidden row align-items-center row-card-line">
                                    <span class="hidden paragraph-text mw-80">
                                        Vehicle maintenance alerts based on miles driven, engine hours or days
                                    </span>
                            </div>
                            <div class="hidden row align-items-center row-card-line">
                                    <span class="hidden paragraph-text mw-80">
                                        Monitor fuel costs to help find discrepancies
                                    </span>
                            </div>
                            <div class="hidden row align-items-center row-card-line">
                                    <span class="hidden paragraph-text mw-80">
                                        Multiple users
                                    </span>
                            </div>
                            <div class="hidden row align-items-center row-card-line">
                                    <span class="hidden paragraph-text mw-80">
                                        Lifetime support
                                    </span>
                            </div>
                            <div class="hidden row align-items-center row-card-line">
                                    <span class="hidden paragraph-text mw-80">
                                        No contract or cancellation fees
                                    </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="hidden row">
                    <div class="hidden button-div text-center">
                        <a class="hidden button-secondary demoButton">Request a free demo</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<script type="text/javascript">
    var check_for_ie =  /*@cc_on!@*/false || !!document.documentMode;
    var rows_to_reformat = document.getElementsByClassName("ie-reformat");
    for (var i = 0; i < rows_to_reformat.length; i++) {
        if (check_for_ie == true) {
            rows_to_reformat[i].classList.add("ie");
        }
    }

</script>
</body>
</html>
{{end}}
