<!doctype html>
<html lang="en">

<head>
    {{ template "templates/header-tags.template.html" .}}
    <title>About - OneStepGPS.com</title>
    <meta name="description"
        content="We are truly changing the industry by offering high quality GPS tracking with fantastic customer support, at a fraction of the cost of our competitors.">
</head>

<body onload="animateHTML();" style="background-color: #f5f7fa;">
    {{ template "templates/navbar.template.html" .}}
    {{define "page-content"}}
    {{$phone := .Value "onestepgps_phone"}}
    <main style="background-image: url('./images/about.png'); background-color: transparent;"
        class="main-page-header landing">
        <div class="hidden row h-100">
            <div class="hidden section align-self-center">
                <div class="hidden row">
                    <h1 class="hidden bold text-center">About</h1>
                </div>
            </div>
        </div>
    </main>
    <main class="main-auto main-overflow" style="background-color: #f5f7fa;">
        <div class="hidden row h-100">
            <div class="hidden section align-self-center">
                <div class="hidden row-pad">
                    <div class="hidden row   justify-content-md-center justify-content-sm-start">
                        <h2 class="hidden p-0 ">
                            In the beginning...
                        </h2>
                    </div>
                    <div class="hidden row  justify-content-md-center justify-content-sm-start">
                        <span class="hidden h2-subtitle p-0">
                            Several years ago, our sister company, which managed a huge fleet of vehicles, was an early
                            adopter of GPS tracking.
                        </span>
                    </div>
                    <div class="hidden col-sm">
                        <div class="hidden row floating-div about row-card justify-content-center">
                            <div class="hidden ">
                                The benefits were immediately evident. The devices improved the ability to manage all
                                employees from a single office, without having to worry about the accuracy of employees
                                self-reporting their locations.<br><br>
                                In addition, dispatching the closest vehicle to each appointment became a breeze. They
                                no longer had to rely on memory or call numerous drivers to find out who was available
                                and who was the closest.<br><br>
                                With a quick look on a map and the click of a button, once onerous tasks became simple.
                                This increased the speed of service, overall efficiency and most importantly, customer
                                satisfaction. Needless to say, profits went up and the solution paid for itself many
                                times over.
                            </div>
                        </div>
                        <img onerror="this.src='./images/dots-orange.png'" src="./images-webp/dots-orange.webp"
                            alt="" class="hidden mobile-hidden Dots5">
                    </div>
                </div>
            </div>
        </div>
    </main>
    <main class="main-auto pt-300-lg">
        <div class="hidden row h-100">
            <div class="hidden section align-self-center pt-100-lg">
                <div class="hidden row row-pad pb-0 image-right-row">
                    <div class="hidden col-sm-12 col-lg-6 align-self-center ">
                        <div class="hidden row justify-content-center justify-content-lg-start">
                            <h2 class="hidden p-0 about-text left">
                                The high cost of poor technology
                            </h2>
                        </div>
                        <div class="hidden row justify-content-center justify-content-lg-start">
                            <div class="paragraph-text about-text left">
                                At the time, the GPS tracking industry was dominated by a handful of companies who
                                insisted on ironclad contracts, hefty cancellation fees and significant upfront costs
                                for equipment. This meant that costs were prohibitive for many businesses.<br><br>
                                The GPS tracking devices themselves were often not up to scratch. The company providing
                                the tracking service had a three-day outage and didn’t seem to care. To make matters
                                worse, shortly thereafter, all their devices stopped working. Our sister
                                company was then asked to upgrade from 2G devices to 3G and pay for new installation.
                                The
                                costs just kept going up.<br><br>
                                At that point, the idea of revolutionizing the industry became a new goal. We figured
                                there must be a better way and, within a few years, One Step GPS was born.
                            </div>
                        </div>
                    </div>
                    <div class="hidden col-sm-12 col-lg-6 align-self-center">
                        <div class="hidden row justify-content-center justify-content-lg-start">
                            <img alt="Calculating bills" onerror="this.src='./images/poor-technology.png'"
                                src="./images-webp/poor-technology.webp" class="hidden about-image right">
                        </div>
                    </div>
                </div>
                <div class="hidden row row-pad justify-content-md-center justify-content-lg-start">
                    <div class="hidden col-sm-12 col-lg-6 align-self-center ">
                        <div class="hidden row justify-content-center justify-content-lg-start">
                            <img alt="One Step GPS Fleet tracking makes a difference" onerror="this.src='./images/about-image-2.png'" src="./images-webp/about-image-2.webp"
                                class="hidden about-image left">
                        </div>
                    </div>
                    <div class="hidden col-sm-12 col-lg-6 align-self-center">
                        <div class="hidden row justify-content-center justify-content-lg-start">
                            <h2 class="pt-0 pb-0 about-text right">
                                The One Step GPS difference
                            </h2>
                        </div>
                        <div class="hidden row justify-content-center justify-content-lg-start">
                            <div class="paragraph-text about-text about-text right">
                                We are truly changing the industry by offering high quality GPS tracking with fantastic
                                customer support, at a fraction of the cost of our competitors.<br><br>
                                We believe that to earn your business and keep it, we have to provide a market-leading
                                product. We source our products directly from the top manufacturer of GPS tracking
                                devices in the USA. We’re so confident that you’ll love them that we offer a no-risk,
                                100-day money back guarantee if you aren’t satisfied for any reason. Cancellations are
                                so rare that we even cover shipping both ways. How’s that for confidence?
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <main class="main-auto" style="background-color: #f5f7fa;">
        <div class="hidden row h-100 ">
            <div class="hidden section align-self-center">
                <div class="hidden row align-items-center justify-content-md-center row-pad">
                    <div clas="col-sm ">
                        <div class="hidden row justify-content-md-center justify-content-sm-start">
                            <h2 class="hidden p-0">
                                We're always looking for talent to join us
                            </h2>
                        </div>
                        <div class="hidden row  justify-content-md-center justify-content-sm-start pt-25">
                            <div class="hidden paragraph-text new-talent-text mw-60">
                                At One Step GPS, we come to work every day because we want to help solve some of the
                                biggest
                                problems in business. Our team is passionate about technology, customer service and
                                finding
                                new ways to innovate. <br><br>
                                Think you have what it takes to work with us? Great! We’d like to hear from you.
                            </div>
                        </div>
                        <div class="hidden row">
                            <div class="hidden button-div text-center">
                                <a href="/contact-us" class="hidden button-secondary">Contact us</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <main class="main-auto">
        <div class="hidden row h-100">
            <div class="hidden section align-self-center">
                <div class="hidden row-pad">
                    <div class="hidden col-sm">
                        <div class="hidden row justify-content-md-center justify-content-sm-start">
                            <h2 class="hidden p-0 z-1 mw-75">
                                One Step GPS: Transforming the GPS tracking industry, one step at a time <br><br>
                            </h2>
                        </div>
                        <img alt="underline" onerror="this.src='./images/underline-image-5.png'"
                            src="./images-webp/underline-image-5.webp"
                            class="hidden underline-graphic-image-5 mobile-hidden">
                        <div class="hidden row  justify-content-md-center justify-content-sm-start">
                            <div class="hidden h2-subtitle">
                                Want to know more about the best GPS ﬂeet tracking solution on the market?<br>Contact us
                                today!<br><br>
                            </div>
                        </div>
                        <div class="hidden row text-center">
                            <div class="hidden button-div p-0 text-center row justify-content-center">
                                <a href="tel:{{$phone}}" class="hidden button-primary">
                                    <img alt="Phone icon" onerror="this.src='./images/icon-phone@3x.png'"
                                        src="./images-webp/icon-phone@3x.webp" class="hidden iconphone">
                                    {{FormatPhone $phone}}
                                </a>
                                <a class="hidden button-secondary chat-button">
                                    <img alt="Chat with us" onerror="this.src='./images/comment-alt-dots-3.png'"
                                        src="./images-webp/comment-alt-dots-3.webp" class="hidden comment-alt-dots3">
                                    Chat with us
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

</html>
{{end}}
