<!DOCTYPE html>
<html lang="en">
  <head>
    {{ template "templates/header-tags.template.html" .}}
    <title>Contact Us - OneStepGPS.com</title>
    <meta
      name="description"
      content="One Step GPS service specialists are available to help you with any and all questions you may have regarding your GPS tracker, Fleet tracking platform & apps."
    />
    <link rel="canonical" href="https://www.onestepgps.com/contact-us" />
  </head>

  <body onload="animateHTML();">
    {{ template "templates/navbar.template.html" .}} {{define "page-content"}}
    {{$phone := .Value "onestepgps_phone"}}
    <main
      style="
        background-image: url('./images/contact.png');
        background-color: transparent;
      "
      class="main-page-header landing"
    >
      <div class="hidden row h-100">
        <div class="hidden section align-self-center">
          <div class="hidden row">
            <h1 class="hidden bold text-center">Contact Us</h1>
          </div>
        </div>
      </div>
    </main>
    <main class="main-auto" style="background-color: #f5f7fa">
      <div class="hidden row h-100">
        <div class="hidden section align-self-center">
          <div class="hidden row-pad">
            <div
                    class="hidden row justify-content-md-center justify-content-sm-start"
            >
              <h2 class="hidden p-0 mw-60 " style="font-size: 1.5em; ">
                We are available Monday through Friday from 8:00 a.m. to 8:00
                p.m. EST (5:00am to 5:00pm Pacific time). Excluding Federal
                Holidays.
              </h2>
            </div>
          </div>
        </div>
      </div>
    </main>
    <main class="main-auto">
      <div class="hidden row h-100">
        <div class="hidden section align-self-center">
          <div class="hidden row-pad">
            <div class="hidden row justify-content-md-center pt-25">
              <div class="hidden col-lg-6 col-md-12 px-20">
                <div
                  class="hidden row justify-content-md-center justify-content-sm-start"
                >
                  <span class="hidden h7 p-0 center-large-left-mobile">
                    New Customers
                  </span>
                </div>
                <div class="hidden row">
                  <div class="hidden separator"></div>
                </div>
                <div class="hidden row pb-25">
                  <span class="hidden paragraph-text text-left">
                    You can buy online at any time. We are also available via
                    <a
                      class="hidden hyperlink chat-button"
                      >chat</a
                    >, or by phone at
                    <a href="tel:{{$phone}}" class="hidden hyperlink"
                      >{{FormatPhone $phone}}</a
                    >, <br /><br />
                    To get information about an order you placed with One Step
                    GPS or to make changes by phone, call
                    <a href="tel:{{$phone}}" class="hidden hyperlink"
                      >{{FormatPhone $phone}}</a
                    ><br /><br />
                    To request a quote or a demo you can
                    <a class="hidden hyperlink demoButton">click here</a> or
                    email us at
                    <a
                      href="mailto:quotes@onestepgps.com"
                      class="hidden hyperlink"
                      >quotes@onestepgps.com</a
                    >
                  </span>
                </div>
              </div>
              <div class="hidden col-lg-6 col-md-12 px-20">
                <div
                  class="hidden row justify-content-md-center justify-content-sm-start"
                >
                  <span class="hidden h7 p-0 center-large-left-mobile">
                    Customer Support
                  </span>
                </div>
                <div class="hidden row">
                  <div class="hidden separator"></div>
                </div>
                <div class="hidden row">
                  <span class="hidden paragraph-text text-left">
                    One Step GPS service specialists are available to help you
                    with any and all questions you may have regarding your GPS
                    tracker, Fleet tracking platform & apps and anything else
                    related to your services with us.<br /><br />

                    Here are some ways to reach us:<br />
                    • Tech and Billing support:
                    <a href="tel:8186592031" class="hidden hyperlink"
                      >(818) 659-2031</a
                    ><br />
                    • Via
                    <a
                      class="hidden hyperlink chat-button"
                      >chat</a
                    ><br />
                    • By
                    <a
                      href="mailto:support@onestepgps.com"
                      class="hidden hyperlink"
                      >email</a
                    ><br />
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="hidden row h-100">
        <div class="hidden section align-self-center">
          <div class="hidden row-pad pt-0">
            <div class="hidden col px-20">
              <div
                class="hidden row justify-content-md-center justify-content-sm-start"
              >
                <span class="hidden h7 p-0">
                  North American Corporate Contacts
                </span>
              </div>
              <div class="hidden row justify-content-md-center">
                <div class="hidden separator"></div>
              </div>
              <div class="hidden row justify-content-center pt-25">
                <div class="hidden col-sm">
                  <div class="hidden row justify-content-center">
                    <div class="hidden mapouter">
                      <div class="hidden gmap_canvas">
                        <iframe
                          title="OneStepGps location in google maps"
                          width="500px"
                          height="366px"
                          class="gmap"
                          id="gmap_canvas"
                          src="https://maps.google.com/maps?q=675%20glenoaks%20blvd%2C%20san%20fernando&t=&z=13&ie=UTF8&iwloc=&output=embed"
                          frameborder="0"
                          scrolling="no"
                          marginheight="0"
                          marginwidth="0"
                        ></iframe>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="hidden col-sm">
                  <div class="hidden row">
                    <span class="hidden paragraph-text text-left">
                      Media inquiries:
                      <a
                        href="mailto:public_relations@onestepgps.com"
                        class="hidden hyperlink"
                        >public_relations@onestepgps.com</a
                      ><br /><br />
                      Investors:
                      <a
                        href="mailto:investor_relations@onestepgps.com"
                        class="hidden hyperlink"
                        >investor_relations@onestepgps.com</a
                      ><br /><br />
                      Installers:
                      <a
                        href="mailto:installers@onestepgps.com"
                        class="hidden hyperlink"
                        >installers@onestepgps.com</a
                      ><br /><br />
                      Resellers:
                      <a
                        href="mailto:resellers@onestepgps.com"
                        class="hidden hyperlink"
                        >resellers@onestepgps.com</a
                      ><br /><br />
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
{{end}}
