<!doctype html>
<html lang="en">

<head>
    {{ template "templates/header-tags.template.html" .}}
    <title>Investors - OneStepGPS.com</title>
    <meta name="description"
        content="Founded in 2009 with the goal of becoming the premier value provider of GPS fleet tracking in the Americas, One Step GPS has seen unparalleled growth and demand for its services.">

</head>

<body onload="animateHTML();" style="background-color: #f5f7fa;">
    {{ template "templates/navbar.template.html" .}}
    {{define "page-content"}}
    <main style="background-image: url('./images/money-back-guarantee.png'); background-color: transparent;"
        class="main-page-header landing">
        <div class="hidden row h-100">
            <div class="hidden section align-self-center">
                <div class="hidden row">
                    <h1 class="hidden bold text-center">Investors</h1>
                </div>
            </div>
        </div>
    </main>
    <main class="main-auto" style="background-color: #f5f7fa;">
        <div class="hidden row h-100">
            <div class="hidden section align-self-center">
                <div class="hidden row-pad">
                    <div class="hidden row justify-content-md-center justify-content-sm-start">
                        <h2 class="hidden p-0">
                            Partner with us
                        </h2>
                    </div>
                    <div class="hidden row justify-content-md-center pt-25">
                        <span class="hidden h2-subtitle w-100">
                            Founded in 2009 with the goal of becoming the premier value provider of GPS fleet
                            tracking in the Americas, One Step GPS has seen unparalleled growth and demand for its
                            services.
                            The initial funding was substantial, and further investment opportunities into the
                            company will first be made available to seed investors. If you would like to be notified
                            of any opportunity to invest, in the event this becomes an option, please send an email
                            to <a href="mailto: invest@onestepgps.com">invest@onestepgps.com</a>.
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>
</html>
{{end}}
