<!doctype html>
<html lang="en">

<head>
    {{ template "templates/header-tags.template.html" .}}
    <title>Mobile App - OneStepGPS.com</title>
    <meta name="description" content="Track One Step GPS devices from your phone or tablet using our mobile app!">
</head>

<body onload="animateHTML();" style="background-color: #f5f7fa;">
    {{ template "templates/navbar.template.html" .}}
    {{define "page-content"}}
    <main style="background-image: url('./images/trucking.png'); background-color: transparent;"
        class="main-page-header landing">
        <div class="hidden row h-100">
            <div class="hidden section align-self-center">
                <div class="hidden row">
                    <h1 class="hidden bold text-center">Mobile App</h1>
                </div>
            </div>
        </div>
    </main>
    <main class="main-auto" style="background-color: #f5f7fa;">
        <div class="hidden row h-100">
            <div class="hidden section align-self-center">
                <div class="hidden row-pad">
                    <div class="hidden row justify-content-md-center justify-content-sm-start align-items-center">
                        <div class="col-lg-6 col-md-12 text-center">
                            <img alt="Fleet tracking on mobile device" onerror="this.src='./images/main-iphone.png'"
                                src="./images-webp/main-iphone.webp" class="hidden" width="350px">
                        </div>
                        <div class="col-lg-6 col-md-12">
                            <div class="hidden row">
                                <div class="row" style="width:100%">
                                    <h2 class="text-left pt-0">The mobile app is here!</h2>
                                </div>
                                <div class="row" style="width:100%">
                                    <h4>Use this application to:</h4>
                                </div>
                                <ul>
                                    <li class="h4-subtitle">Easily access your account using your Android or iOS device
                                    </li>
                                    <li class="h4-subtitle">Track your devices in real time</li>
                                    <li class="h4-subtitle">Select from several different map views</li>
                                    <li class="h4-subtitle">Find out where your vehicles have been</li>
                                    <li class="h4-subtitle">See what events have been recorded by your devices and when
                                    </li>
                                </ul>

                            </div>
                            <div class="hidden row">
                                <div class="hidden button-div pt-25">
                                    <a href="https://apps.apple.com/us/app/one-step-gps-live-tracking/id1307133985"><img
                                            onerror="this.src='./images/appstore.png'" src="/images-webp/appstore.webp"
                                            class="hidden footer-download-image"></a>
                                    <a href="https://play.google.com/store/apps/details?id=com.onestepgps.onestepgps"><img
                                            onerror="this.src='./images/googleplay.png'"
                                            src="/images-webp/googleplay.webp" class="hidden footer-download-image"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </main>
</body>
</html>
{{end}}
