<!doctype html>
<html lang="en">

<head>
    {{ template "templates/header-tags.template.html" .}}
    <title>Money Back Guarantee - OneStepGPS.com</title>
    <meta name="description"
        content="Unlike many other GPS tracking solutions, we are so confident in our product and service that we offer a no questions asked, 100 day money back guarantee.">
</head>

<body onload="animateHTML();" style="background-color: #f5f7fa;">
    {{ template "templates/navbar.template.html" .}}
    {{define "page-content"}}
    {{$phone := .Value "onestepgps_phone"}}
    <main style="background-image: url('./images/money-back-guarantee.png'); background-color: transparent;"
        class="main-page-header landing">
        <div class="hidden row h-100">
            <div class="hidden section align-self-center">
                <div class="hidden row">
                    <h1 class="hidden bold text-center">Money Back Guarantee</h1>
                </div>
            </div>
        </div>
    </main>
    <main class="main-auto" style="background-color: #f5f7fa;">
        <div class="hidden row h-100">
            <div class="hidden section align-self-center">
                <div class="hidden row-pad">
                    <div class="hidden row  text-center">
                        <h2 class="hidden p-0 text-center">
                            100-day money back guarantee
                        </h2>
                    </div>
                    <div class="hidden row justify-content-md-center text-center pt-25">
                        <div class="hidden col-sm-12 col-md-3 align-self-center badge-wrapper">
                            <img alt="Lifetime guarantee badge" onerror="this.src='./images/guarantee-badge.png'"
                                src="./images-webp/guarantee-badge.webp" class="hidden guarantee-badge">
                        </div>
                        <div class="hidden col-sm-12 col-md-8 text-left align-self-center ml-50">
                            <span class="hidden paragraph-text">
                                We are so confident in our product and service, that we offer a no questions asked, 100
                                day money back guarantee. If you are not happy with our product and service for any
                                reason and do not wish to continue after using our service, you may return the device
                                for a full refund any time within the first 100 days. <br><br>
                                Just contact us to let us know you will be sending it back and we will issue a full
                                refund once we receive the equipment back in good working order.
                            </span>
                        </div>
                    </div>
                    <div class="hidden row">
                        <div class="hidden button-div text-center">
                            <a class="hidden button-secondary demoButton">Request a free demo</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <main class="main-auto">
        <div class="hidden row h-100">
            <div class="hidden section align-self-center">
                <div class="hidden py-150">
                    <div class="hidden col-sm">
                        <div class="hidden row justify-content-md-center justify-content-sm-start">
                            <h2 class="hidden  p-0 z-1">
                                Why not give us a shot? What do you have to lose?
                            </h2>
                        </div>
                        <div class="hidden row justify-content-md-center justify-content-sm-start">
                            <div class="hidden h2-subtitle">
                                Contact one of our knowledgeable and friendly staff to learn more about how One Step GPS
                                can help you gain visibility, control operating costs and reduce losses from theft and
                                damage.
                            </div>
                        </div>
                        <div class="hidden row text-center">
                            <div class="hidden button-div p-0 text-center row justify-content-center">
                                <a href="tel:{{$phone}}" class="hidden button-primary" aria-hidden="true" role="presentation">
                                    <img alt="Phone icon" onerror="this.src='./images/icon-phone@3x.png'"
                                        src="./images-webp/icon-phone@3x.webp" class="hidden iconphone">
                                    {{FormatPhone $phone}}
                                </a>
                                <a class="hidden button-secondary chat-button">
                                    <img alt="Chat with us" onerror="this.src='./images/comment-alt-dots-3.png'"
                                        src="./images-webp/comment-alt-dots-3.webp" class="hidden comment-alt-dots3">
                                    Chat with us
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>
</html>
{{end}}
