<!DOCTYPE html>
<html lang="en">
  <head>
    {{ template "templates/header-tags.template.html" .}}
    <title>SMS Opt-In</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css"
    />

    <script defer src="./build/js/bundle.js"></script>
  </head>

  <body onload="animateHTML();" style="background-color: #f5f7fa">
    {{ template "templates/navbar.template.html" .}} {{define "page-content"}}

    <div class="" style="background-color: #4193df">
      <div class="hidden row h-100" style="min-height: 100vh">
        <div class="hidden section align-self-center">
          <div class="hidden row-pad">
            <div class="hidden row justify-content-center">
              <h1 class="hidden p-0" style="font-size: 1.8em; margin-top: 1em">
                Opt-in to receive One Step GPS vehicle, driving & system alerts
                via SMS!
              </h1>
            </div>
            <div class="row justify-content-around align-content-center">
              <div
                class="col-12 col-md-7 col-lg-6 order-2 order-md-1"
                style="color: #ffffff; font-size: 0.9em; margin: 1em 0"
              >
                OSG-Alerts are sent for items including the following:<br />
                Speeding, Fast Acceleration, Unsafe cornering, Harsh Braking,
                Excessive engine idle, After-hours driving, exiting geofences,
                service reminders, check engine lights and more. This is
                connected to the GPS trackers and user settings for these
                alerts.<br /><br />

                You can cancel the SMS service at any time. Just text "STOP" to
                the short code. After you send the SMS message "STOP" to us, we
                will send you an SMS message to confirm that you have been
                unsubscribed. After this, you will no longer receive SMS
                messages from us. If you want to join again, just sign up as you
                did the first time and we will start sending SMS messages to you
                again.<br /><br />

                If you are experiencing issues with the messaging program you
                can reply with the keyword HELP for more assistance, or you can
                get help directly at
                <a class="white-anchor" href="mailto:support@onestepgps.com"
                  >support@onestepgps.com</a
                >
                or
                <a class="white-anchor" href="tel:888-919-7536"
                  >(888) 919-7536.</a
                >
                Carriers are not liable for delayed or undelivered messages.<br /><br />

                Message frequency varies. Message and Data rates may apply. If
                you have any questions about your text plan or data plan, it is
                best to contact your wireless provider.<br /><br />

                If you have any questions regarding privacy, please read our
                <a class="white-anchor" href="/privacy-policy"
                  >privacy policy</a
                >
              </div>

              <div
                class="col-12 col-md-4 col-lg-4 order-1 order-md-2"
                style="display: flex; align-items: center"
              >
                <div class="card card-body" style="margin-top: 1em">
                  <p
                    class="card-title"
                    style="font-size: 1.2em; font-weight: bold"
                  ></p>
                  <p>Please enter your phone number below.</p>

                  <form id="sms-form">
                    <div class="form-group row">
                      <label
                        for="phone"
                        class="col-sm-4 col-form-label"
                        style="color: #000000"
                        >Mobile Number</label
                      >
                      <div class="col-sm-8">
                        <input
                          type="tel"
                          class="form-control"
                          id="phone"
                          pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}"
                          maxlength="14"
                          required
                          name="phone"
                          placeholder="(555) 555-5555"
                        />
                      </div>
                    </div>
                  </form>
                  <p>
                    By signing up, you agree to our
                    <a href="/terms-and-conditions" target="_blank"
                      >Terms and Conditions</a
                    >
                    and
                    <a href="/privacy-policy" target="_blank">Privacy Policy</a
                    >.
                  </p>
                  <p style="text-align: center">
                    Message Frequency will vary. <br />
                    Message and data rates may apply.<br />
                    Reply HELP for Help or STOP to cancel.
                  </p>
                  <div class="row align-content-center justify-content-center">
                    <button
                      id="submit-phone"
                      type="submit"
                      class="btn"
                      style="background-color: #209ee5; color: white"
                    >
                      I Agree
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>

<!--toast plugin-->
<script
  type="text/javascript"
  src="https://cdn.jsdelivr.net/npm/toastify-js"
></script>

<!--telephone selector plugin-->
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/css/intlTelInput.css"
/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/intlTelInput.min.js"></script>

<script>
  const phoneInputField = document.querySelector("#phone");
  const phoneInput = window.intlTelInput(phoneInputField, {
    preferredCountries: ["us", "ca"],
    initialCountry: "us",
    utilsScript:
      "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/utils.js",
  });

  //fetch any phone number params, and set them in the text field
  const urlSearchParams = new URLSearchParams(window.location.search);
  const params = Object.fromEntries(urlSearchParams.entries());
  if (params?.number) {
      document.getElementById("phone").value = params.number
  }
  //masking for phone number field
  document.getElementById("phone").addEventListener("input", function (e) {
    let x = e.target.value
      .replace(/\D/g, "")
      .match(/(\d{0,3})(\d{0,3})(\d{0,4})/);
    e.target.value = !x[2]
      ? x[1]
      : "(" + x[1] + ") " + x[2] + (x[3] ? "-" + x[3] : "");
  });

  document
    .getElementById("submit-phone")
    .addEventListener("click", function () {

      //set the appropriate domain based on env
      let domain = 'https://track.onestepgps.com'
      if (window.location.host.includes("local")) {
        domain = 'https://track.local.onestepgps.com'
      } else if (window.location.host.includes("devweb1")) {
        domain = 'https://track.devweb1.onestepgps.com'
      }

      fetch(
        `${domain}/v3/api/public/sms-opt-in/${encodeURIComponent(phoneInput.getNumber())}`,
        {
          method: 'POST',
          mode: 'cors'
        }
      )
        .then(() => {
          //show confirmation toast
          Toastify({
            text: "Thank you for signing up to OneStepGPS Alerts. \n Reply 'YES' to our message to complete your opt in.",
            className: "toast",
            duration: 3000,
            gravity: "top", // `top` or `bottom`
            position: "center", // `left`, `center` or `right`
            stopOnFocus: true, // Prevents dismissing of toast on hover
            style: {
              background: "#2A3D45",
            },
          }).showToast();
        })
        .catch((err) => {
          console.log(err);
          //show error message
          Toastify({
            text: "There was an error sending our opt in message. Please confirm phone number and try again.",
            className: "toast",
            duration: 3000,
            gravity: "top", // `top` or `bottom`
            position: "center", // `left`, `center` or `right`
            stopOnFocus: true, // Prevents dismissing of toast on hover
            style: {
              background: "#ff3737",
              color: "#ffffff",
            },
          }).showToast();
        });
    });
</script>
{{end}}
