<!doctype html>
<html lang="en">

<head>
    {{ template "templates/header-tags.template.html" .}}
    <title>Warranty - OneStepGPS.com</title>
    <meta name="description"
        content="Each GPS Tracker goes through several levels of quality control and testing before it is shipped and our products are designed to last for many years.">
</head>

<body onload="animateHTML();" style="background-color: #f5f7fa;">
    {{ template "templates/navbar.template.html" .}}
    {{define "page-content"}}
    <main style="background-image: url('./images/warranty.png'); background-color: transparent;"
        class="main-page-header landing">
        <div class="hidden row h-100">
            <div class="hidden section align-self-center">
                <div class="hidden row">
                    <h1 class="hidden bold text-center">Warranty</h1>
                </div>
            </div>
        </div>
    </main>
    <main class="main-auto" style="background-color: #f5f7fa;">
        <div class="hidden row h-100">
            <div class="hidden section align-self-center">
                <div class="hidden row-pad">
                    <div class="hidden row  text-center">
                        <h2 class="hidden p-0 text-center">
                            Lifetime Warranty
                        </h2>
                    </div>
                    <div class="hidden row justify-content-md-center text-center pt-25">
                        <div class="hidden col-sm-12 col-md-3 align-self-center badge-wrapper">
                            <img alt="Lifetime warranty badge" onerror="this.src='./images/warranty-badge.png'"
                                src="./images-webp/warranty-badge.webp" class="hidden guarantee-badge">
                        </div>
                        <div class="hidden col-sm-12 col-md-8 text-left align-self-center ml-50">
                            <span class="hidden paragraph-text">
                                Each GPS Tracker goes through several levels of quality control and testing before it is
                                shipped and our products are designed to last for many years. We are so confident in the
                                quality of the products we provide, that we offer a lifetime guarantee, free of charge
                                on all of our products currently under subscription with OneStepGPS.com.
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <main class="main-auto">
        <div class="hidden row h-100">
            <div class="hidden section">
                <div class="hidden row-pad">
                    <div class="hidden row warranty-card text-center">
                        <div class="hidden row">
                            <div class="hidden paragraph-text text-left">
                                Our lifetime warranty was created to provide our customers with the best possible
                                experience. <br>
                                If you have any problems with any of our GPS tracking devices or software, please call
                                One
                                Step GPS customer service at <a href="tel:8889197536" class="hidden hyperlink">(888)
                                    813-7521</a>, Monday
                                through Friday 9am to 5pm Pacific
                                Standard Time, excluding holidays.<br>
                                We will replace any defective units at no cost to you as long as you are a current user
                                of
                                our service.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <main class="main-auto" style="background-color:#f5f7fa;">
        <div class="hidden row h-100">
            <div class="hidden section">
                <div class="hidden row-pad p-0">
                    <div class="hidden row-pad">
                        <div class="hidden row justify-content-md-center justify-content-sm-start">
                            <span class="camera-gallery-title">
                                Things our warranty will cover
                            </span>
                        </div>
                        <div class="hidden row">
                            <div class="hidden separator"></div>
                        </div>
                        <div class="hidden row">
                            <div class="hidden col-sm text-left">
                                • Manufacturing or Software defect(s). <br>
                                • Equipment failure, as long as the failure was not a result of misuse.
                            </div>
                        </div>
                    </div>
                    <div class="hidden row-pad pt-0">
                        <div class="hidden row justify-content-md-center justify-content-sm-start">
                            <span class="camera-gallery-title">
                                Things our warranty will not cover
                            </span>
                        </div>
                        <div class="hidden row">
                            <div class="hidden separator"></div>
                        </div>
                        <div class="hidden row">
                            <div class="hidden col-sm text-left">
                                • Devices that stop working after they have been opened or tampered with. <br>
                                • Devices that stop working if the software is edited by the end user.<br>
                                • Devices that were used for any purposes it was not intended for. (For example, using a
                                car tracker on a jet ski, or attaching a GPS tracker to a piece of equipment that does
                                not operate with the correct electrical amperage.)<br>
                                • Damaged devices.<br>
                                • Devices lost, stolen or misplaced.<br>
                            </div>
                        </div>
                    </div>
                    <div class="hidden row-pad  pt-0">
                        <div class="hidden row justify-content-md-center justify-content-sm-start">
                            <span class="camera-gallery-title">
                                How to replace a GPS Tracker under warranty
                            </span>
                        </div>
                        <div class="hidden row">
                            <div class="hidden separator"></div>
                        </div>
                        <div class="hidden row">
                            <div class="hidden col-sm text-left">
                                If you have any problems with any of our GPS Tracking devices or software, please call
                                One Step GPS customer service at <a href="tel:8883502827" class="hidden hyperlink">(888)
                                    813-7521</a>, Monday through Friday 9am to 5pm
                                Pacific Standard Time, excluding holidays.<br><br>
                                We will provide you with instructions to mail back the nonfunctioning GPS Tracker. Once
                                we have verified the damage is not due to abuse and that your account is current, a
                                replacement tracker or a repaired tracker will be configured and sent out to you free of
                                charge.<br><br>
                                All GPS trackers submitted under warranty replacement will be inspected upon receipt for
                                damage, misuse and tampering. As long as the GPS tracker meets the aforementioned
                                covered criteria, it will be replaced free of charge.<br><br>
                                If the device falls under the non-covered points, you will, of course, be required to
                                pay for replacement of the tracking hardware.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

</html>
{{end}}
