<div>
  <div class="row section justify-content-center">
    <img
      loading="lazy"
      alt="as seen on the news"
      width="100%"
      onerror="this.src='images/as-seen-on.png'"
      src="images-webp/as-seen-on.webp"
      style="margin: auto; padding-top: 3rem; max-width: 750px"
    />
  </div>
  <div class="section hidden">
    <div class="text-align-center text-xl font-weight-bold mb-4">
      15&comma;000&plus; fleets trust OneStep GPS!
    </div>
    <!-- row of logo and reviews -->
    <div class="row align-items-center justify-content-between">
      <div class="col-6 col-lg-2 col-md-4 col-sm-4">
        <div
          class="card bg-light-grey square-11rem rounded-30 text-align-center mt-3"
        >
          <div class="card-body bg-light-grey rounded-30 px-1">
            <img
              class="card-img-top mb-2 mx-auto w-auto"
              style="max-height: 40px"
              loading="lazy"
              alt="Ace Handyman Services Logo"
              src="images-webp/logos-color/ace-handyman-services.webp"
            />
            <p class="card-text text-xs">
              &quot;Very easy to install and setup so easy to track company
              trucks.&quot;
            </p>
          </div>
        </div>
      </div>
      <div class="col-6 col-lg-2 col-md-4 col-sm-4">
        <div
          class="card bg-light-grey square-11rem rounded-30 text-align-center mt-3"
        >
          <div class="card-body bg-light-grey rounded-30 px-1">
            <img
              loading="lazy"
              alt="Clean Sweep Services Logo"
              src="images-webp/logos-color/cleansweep-services.webp"
              class="card-img-top mb-2 w-auto"
              style="max-height: 40px"
            />
            <p class="card-text text-xs">
              &quot;Learning how to set up the geofences and use the GPS was
              easy and after a few customers sites were installed I was a
              pro.&quot;
            </p>
          </div>
        </div>
      </div>
      <div class="col-6 col-lg-2 col-md-4 col-sm-4">
        <div
          class="card bg-light-grey square-11rem rounded-30 text-align-center mt-3"
        >
          <div class="card-body bg-light-grey rounded-30 px-1">
            <img
              loading="lazy"
              alt="Blue Grass Logo"
              src="images-webp/logos-color/bluegrass-metals-and-lumber.webp"
              class="card-img-top mb-2 w-auto"
              style="max-height: 28px"
            />
            <p class="card-text text-xs">
              &quot;If you call One Step GPS they have a live person that speaks
              English that answers instantly no waiting. Also equipment has
              worked flawlessly&quot;
            </p>
          </div>
        </div>
      </div>
      <div class="col-6 col-lg-2 col-md-4 col-sm-4">
        <div
          class="card bg-light-grey square-11rem rounded-30 text-align-center mt-3"
        >
          <div class="card-body bg-light-grey rounded-30 px-1 pt-1">
            <img
              loading="lazy"
              alt="Olin Corporation Logo"
              src="images-webp/logos-color/olin.webp"
              class="card-img-top mb-2 w-auto"
              style="max-height: 30px"
            />
            <p class="card-text text-xs">
              &quot;Shopped around for a company that could accommodate our
              fleet of 200 vehicles. I was pleasantly surprised that One Step GPS
              could meet my needs&quot;
            </p>
          </div>
        </div>
      </div>
      <div class="col-6 col-lg-2 col-md-4 col-sm-4">
        <div
          class="card bg-light-grey square-11rem rounded-30 text-align-center mt-3"
        >
          <div class="card-body bg-light-grey rounded-30 px-1">
            <img
              loading="lazy"
              alt="USA Insulation Logo"
              src="images-webp/logos-color/usa-insulation.webp"
              class="card-img-top mb-2 w-auto"
              style="max-height: 40px"
            />
            <p class="card-text text-xs">
              &quot;A very competitive product at a very competitive price
              compared to other options presented.&quot;
            </p>
          </div>
        </div>
      </div>
      <div class="col-6 col-lg-2 col-md-4 col-sm-4">
        <div
          class="card bg-light-grey square-11rem rounded-30 text-align-center mt-3"
        >
          <div class="card-body bg-light-grey rounded-30 px-1">
            <img
              loading="lazy"
              alt="Door To Door Transportation Logo"
              src="images-webp/logos-color/door-to-door-driving-services.webp"
              class="card-img-top mb-2 w-auto mx-auto"
              style="max-height: 45px"
            />
            <p class="card-text text-xs">
              &quot;Overall... I would not want it any other way. You guys are
              the definition of perfect.&quot;
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
