<div id="demoModal" class="modal">
  {{$phone := .Value "onestepgps_phone"}}

  <!-- Modal content -->

  <div class="modal-panel row">
    <div class="col-sm modal-col-form">
      <h2 class="row p-0" id="request-demo-header">Apply for your free demo</h2>
      <h2
        class="row p-0"
        id="request-demo-header-success"
        style="display: none; text-align: center"
      >
        Thank you for applying for your free demo
      </h2>
      <div class="row">
        <div id="modal-text" class="modal-text">
          Please fill out the following information to set up your free demo. Or
          feel free to call us at
          <a href="tel:{{$phone}}"
            ><img
              alt="Phone icon"
              onerror="this.src='/images/phone.png'"
              src="/images-webp/phone.webp"
              class="iconphone-modal"
              width="12px"
              height="12px"
            />{{FormatPhone $phone}}</a
          >
        </div>
      </div>
      <div
        id="request-demo-form-error"
        class="snackbar--top osg-form-message-error"
        style="display: none"
      >
        There was an error submitting your request. Please try again or call us
        at <a href="tel:{{$phone}}" class="phoneswap">{{FormatPhone $phone}}</a>
      </div>
      <div
        id="request-demo-form-success"
        style="display: none; text-align: center"
      >
        <div style="color: #1ba6ff">
          <div style="font-size: 50px">
            <span class="fa fa-check-circle-o"></span>
          </div>
        </div>
        <div>
          An associate will be reaching out to you shortly – if you prefer not
          to wait, you can reach us at
          <a class="entry-content-link" href="tel:8186592031">(818) 659 2031</a
          >.
        </div>
      </div>
      <div class="row" id="osg-request-form">
        <form class="osg-request-form" id="osg-form_sales-request" method="POST" action="/api/requestform/sales-request">
          <div class="mb-1">
            <label for="sales-request-form_first-name" class="form-label">First Name<span class="required-ast">*</span></label>
            <input required="required" type="text" class="form-control" id="sales-request-form_first-name" name="name">
          </div>
          <div class="mb-1">
            <label for="sales-request-form_last-name" class="form-label">Last Name<span class="required-ast">*</span></label>
            <input required="required" type="text" class="form-control" id="sales-request-form_last-name" name="name">
          </div>
          <div class="mb-1">
            <label for="sales-request-form_phone" class="form-label">Phone<span class="required-ast">*</span></label>
            <input required="required" type="text" class="form-control" id="sales-request-form_phone" name="phone">
          </div>
          <div class="mb-1">
            <label for="sales-request-form_email" class="form-label">Email</label>
            <input type="text" class="form-control" id="sales-request-form_email" name="email">
          </div>
          <div class="mb-1">
            <label for="sales-request-form_company" class="form-label">Company</label>
            <input type="text" class="form-control" id="sales-request-form_company" name="company">
          </div>
          <div class="mb-1">
            <label for="sales-request-form_fleet-size" class="form-label">Fleet size</label>
            <input type="text" class="form-control" id="sales-request-form_fleet-size" name="fleet-size">
          </div>
          <div class="mb-1">
            <label for="sales-request-form_message" class="form-label">Message</label>
            <textarea id="sales-request-form_message" name="message" class="form-control" placeholder="Tell us about your fleet and when we can best contact you." style="height: 88px"></textarea>
          </div>
          <div class="row align-items-center">
            <div class="col-md-4">
              <div class="g-recaptcha"
                   id="recaptcha"
                   {{ if .Value "is_devweb" }}
                     data-sitekey="6LeiiXclAAAAAJ1sx0fc9zCx8q248YtSbKSsrt7U"
                   {{ else }}
                     data-sitekey="6LdaE5wlAAAAAIHGeVeee_DlvtnCysTqLVLk_J2s"
                    {{ end }}
              >
            </div>
          </div>
          <div class="col-md-4">
            <div id="request-demo-form-loader" class="loader" style="display: none"></div>
          </div>
          <div class="col-md-4 text-center">
            <button class="osg-form-btn btn btn-primary" id="request-demo-form-btn" type="submit"><span>Submit Request</span></button>
          </div>
      </div>
      </form>
    </div>

    <span class="close demoClose"><i class="fa fa-times fa-md"></i></span>
    </div>
    <div class="col-6 modal-col-blue mobile-hidden">
      <div class="row h-100 align-items-center">
        <div class="col">
          <div class="row justify-content-md-center">
            <img
              loading="lazy"
              alt="Fleet tracking on tablet"
              onerror="this.src='/images/modal-ipad.png'"
              src="/images-webp/modal-ipad.webp"
              class="text-center"
              width="384px"
              height="225px"
            />
          </div>

          <div class="modal-device-title">
            Bring GPS tracking to the next level
          </div>
          <div class="modal-device-subtitle">
            Learn how our unparalleled attention to customer service, quality
            GPS tracking, and actionable information can transform every facet
            of your business.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  document.addEventListener("DOMContentLoaded", function () {
    const requestDemoFormBtn = document.querySelector("#request-demo-form-btn");

    requestDemoFormBtn.addEventListener("click", (e) => {
      e.preventDefault();
      if (!checkRequiredFields("#osg-form_sales-request")) {
        return;
      }

      //set loading indicator and disable submit button
      document.querySelector("#request-demo-form-loader").style.display =
        "block";
      requestDemoFormBtn.disabled = true;
      const span = requestDemoFormBtn.querySelector("span");
      span.style.opacity = "0";
      span.style.visibility = "visible";
      span.animate([{ opacity: 0.0 }, { opacity: 0.0 }], { duration: 1 });

      let domain = "https://track.onestepgps.com";
      if (window.location.host.includes("local")) {
        domain = "https://track.local.onestepgps.com";
      } else if (window.location.host.includes("devweb1")) {
        domain = "https://track.devweb1.onestepgps.com";
      }

      fetch(`${domain}/v3/api/request-form/sales-request`, {
        method: "POST",
        contentType: "application/json",
        body: JSON.stringify({
          first_name: document.querySelector("#sales-request-form_first-name").value.trim(),
          last_name: document.querySelector("#sales-request-form_last-name").value.trim(),
          email: document.querySelector("#sales-request-form_email").value.trim(),
          phone: document.querySelector("#sales-request-form_phone").value.trim(),
          company: document.querySelector("#sales-request-form_company").value.trim(),
          fleet_size: document.querySelector("#sales-request-form_fleet-size").value.trim(),
          message: document.querySelector("#sales-request-form_message").value.trim(),
          request_type: "demo",
          recaptcha_token: grecaptcha.getResponse(),
        }),
      })
        .then((response) => {
          console.log("response", response);
          if (response.ok) {
            return response.json();
          } else {
            throw new Error("Network response was not ok");
          }
        })
        .then((data) => {
          if (data === "success") {
            span.innerHTML = "Submitted!";
            const osgRequestForm = document.querySelector("#osg-request-form");
            osgRequestForm.style.display = "none";
            const modalText = document.querySelector("#modal-text");
            modalText.style.display = "none";
            const RequestDemoHeader = document.querySelector("#request-demo-header");
            RequestDemoHeader.style.display = "none";
            const requestDemoFormSuccess = document.querySelector(
              "#request-demo-form-success"
            );
            requestDemoFormSuccess.style.display = "block";
            const requestDemoFormHeaderSuccess = document.querySelector(
              "#request-demo-header-success"
            );
            requestDemoFormHeaderSuccess.style.display = "block";
          }
        })
        .catch((error) => {
          console.error("Error:", error);
          span.innerHTML = "Submit Request";
          document.querySelector("#request-demo-form-loader").style.display =
            "none";
          const requestDemoFormError = document.querySelector(
            "#request-demo-form-error"
          );
          requestDemoFormError.style.display = "block";
          requestDemoFormError.scrollIntoView({ behavior: "smooth" });
          requestDemoFormBtn.disabled = false;
        })
        .finally(function () {
          span.style.opacity = "1.0";
          span.style.visibility = "visible";
          span.animate([{ opacity: 1.0 }], { duration: 1 });
          grecaptcha.reset();
        });
    });
  });

  // Validates required fields in a form before submission
  function checkRequiredFields(formId) {
    //validate captcha
    if (grecaptcha.getResponse() === "") {
      document
        .getElementById("recaptcha")
        .classList.add("osg-form-field-error");
      return false;
    }

    const inputs = document.querySelector(formId).querySelectorAll("input");
    let succeeded_check = true;
    for (let i = 0; i < inputs.length; i++) {
      if (inputs[i].required === true && inputs[i].value.trim() === "") {
        inputs[i].classList.add("osg-form-field-error");
        succeeded_check = false;
      }
    }

    return succeeded_check;
  }

  const demo_modal = document.getElementById("demoModal");
  const demo_close = document.getElementsByClassName("demoClose")[0];

  demo_close.onclick = function () {
    demo_modal.style.display = "none";
  };

  demo_modal.onclick = function (event) {
    if (event.target == demo_modal) {
      demo_modal.style.display = "none";
    }
  };

  //listener to close modal on esc
  document.addEventListener("keyup", function (e) {
    if (e.keyCode == 27) {
      demo_modal.style.display = "none";
    }
  });

  // Resets the sales request form and enables the submit button
  function resetForm() {
    document.getElementById("osg-form_sales-request").reset();
    const btn = document.getElementById("request-demo-form-btn");
    btn.disabled = false;
    btn.children[0].innerHTML = "Submit Request";

    document.getElementById("request-demo-form-success").style.display = "none";
    document.getElementById("request-demo-header-success").style.display = "none";
    document.getElementById("request-demo-form-error").style.display = "none";
    document.getElementById("request-demo-form-loader").style.display = "none";

    document.getElementById("osg-request-form").style.display = "block";
    document.getElementById("request-demo-header").style.display = "block";
  }

</script>
