<meta charset="utf-8" />
<meta
  name="viewport"
  content="width=device-width, initial-scale=1, shrink-to-fit=no"
/>
{{ if .Value "is_devweb" }}
<meta name="robots" content="noindex" />
<meta name="googlebot" content="noindex" />
{{ else }}
<meta name="robots" content="index, follow" />
{{ end }}
<!--preconnect hints-->
<link rel="preconnect" href="https://use.typekit.net" />
<link rel="preconnect" href="https://p.typekit.net" />
<link rel="preconnect" href="https://www.google-analytics.com" />
<link rel="preconnect" href="https://ka-f.fontawesome.com" />
<!--<link rel="preconnect" href="https://consent.cookiebot.com" />-->
<!--Font-->
<link rel="preload" href="https://use.typekit.net/vam0ype.css" as="style" />
<link
  rel="stylesheet"
  href="https://use.typekit.net/vam0ype.css"
  as="style"
  onload="this.media='all'"
  media="print"
/>
<noscript
  ><link rel="stylesheet" href="https://use.typekit.net/vam0ype.css"
/></noscript>
<link
  rel="preload"
  href="/build/css/stylesheet.css"
  as="style"
  onload="this.onload=null;this.rel='stylesheet'"
/>
<link rel="stylesheet" href="/build/css/stylesheet.css" as="style" />
<noscript><link href="/build/css/stylesheet.css" rel="stylesheet" /></noscript>
<link href="/images/favicon.ico" rel="icon" type="image/x-icon" />
<script async src="/build/js/bundle.js"></script>
<!--For Google consent mode to work, scripts must be loaded in this exact order:
 Google Consent Mode -> Google Tag Manager -> Cookiebot CMP (with automatic cookie blocking)
-->
<!-- Google Consent Mode -->
<!--<script data-cookieconsent="ignore">-->
<!--  window.dataLayer = window.dataLayer || [];-->
<!--  function gtag() {-->
<!--    dataLayer.push(arguments);-->
<!--  }-->
<!--  gtag("consent", "default", {-->
<!--    ad_storage: "denied",-->
<!--    analytics_storage: "denied",-->
<!--    functionality_storage: "denied",-->
<!--    personalization_storage: "denied",-->
<!--    security_storage: "granted",-->
<!--    wait_for_update: 500,-->
<!--  });-->
<!--  gtag("set", "ads_data_redaction", true);-->
<!--  gtag("set", "url_passthrough", true);-->
<!--</script>-->
<!-- End Google Consent Mode-->
<!-- Google Tag Manager -->
<script>
  (function (w, d, s, l, i) {
    w[l] = w[l] || [];
    w[l].push({ "gtm.start": new Date().getTime(), event: "gtm.js" });
    var f = d.getElementsByTagName(s)[0],
      j = d.createElement(s),
      dl = l !== "dataLayer" ? "&l=" + l : "";
    j.defer = true;
    j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl;
    f.parentNode.insertBefore(j, f);
  })(window, document, "script", "dataLayer", "GTM-THZDMWJ");
</script>
<!-- End Google Tag Manager -->
<!-- Cookiebot CMP-->
<!--<script-->
<!--  id="Cookiebot"-->
<!--  src="https://consent.cookiebot.com/uc.js"-->
<!--  data-cbid="f0919581-24d6-44bd-bc28-79d1d0f7339b"-->
<!--  data-blockingmode="auto"-->
<!--  type="text/javascript"-->
<!--&gt;</script>-->
<!-- End Cookiebot CMP -->

<!-- lazy load polyfills for older browsers-->
<script>
  window.addEventListener("load", function () {
    if (!Array.prototype.includes) {
      // Load polyfill.io here
      const script = document.createElement("script");
      script.src = "/build/js/polyfill.js";
      document.head.appendChild(script);
    }
  });
</script>
