{{range .CustomerReviews}}
<div class="hidden review-row justify-content-center review-extension" style="display: none;">
    <div class="hidden review-card text-center">
        <div class="hidden row h-100">
            <div class="hidden col align-self-center justify-content-between">
                <div class="hidden row">
                    <div class="hidden review-stars-container">
                        <img alt="" src="/images/star-3.svg" class="hidden">
                        <img alt="" src="/images/star-3.svg" class="hidden">
                        <img alt="" src="/images/star-3.svg" class="hidden">
                        <img alt="" src="/images/star-3.svg" class="hidden">
                        <img alt="" src="/images/star-3.svg" class="hidden">
                    </div>
                </div>
                <div class="hidden row">
                    <div class="hidden review-text">{{.ReviewText}}
                    </div>
                </div>
                <div class="hidden row">
                    <div class="hidden col-sm-1 col-xs-2 text-left">
                        <img alt="{{.ReviewerName}} headshot" src="./images-webp/reviewers/{{.ReviewerImage}}.webp" onerror="this.src='./images/reviewers/{{.ReviewerImage}}.png'" class="hidden reviewer-image" width="55px" height="55px">
                    </div>
                    <div class="hidden col-sm align-self-center reviewer-text-wrapper">
                        <div class="hidden row">
                            <div class="hidden review-name-text pt-0">
                                {{.ReviewerName}}
                            </div>
                        </div>
                        <div class="hidden row">
                            <div class="hidden info-card-subtitle">{{.ReviewerLocation}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{{end}}
