{{range .CustomerReviews}}
<div class="review-card-slideshow-wrapper">
    <div class="review-card-slideshow row align-items-center">

        <div class=" review-stars-container slideshow-reviewer-image ">
            <img alt="{{.ReviewerName}} review" src="" data-src="./images-webp/reviewers/{{.ReviewerImage}}.webp"
                onerror="if(this.getAttribute('src') != ''){ this.src='./images/reviewers/{{.ReviewerImage}}.png'}"
                class="reviewer-image lazy " width="80px" height="80px">
        </div>

        <div class="slideshow-reviewer-info text-center">
            <div class=" slideshow-review-name-text pt-0">
                {{.ReviewerName}}
            </div>
            <div class="slideshow-review-location">
                {{.ReviewerLocation}}
            </div>
        </div>
        <div class=" slideshow-stars" style="margin-top: 0px; margin-bottom: 0px">
            <div class=" slideshow-stars-container py-30">
                <img  data-src="./images/star-3.svg" src="/images/star-3.svg" class="lazy"
                    alt="" height="21px" width="21px">
                <img  data-src="./images/star-3.svg" src="/images/star-3.svg" class="lazy"
                      alt="" height="21px" width="21px">
                <img  data-src="./images/star-3.svg" src="/images/star-3.svg" class="lazy"
                      alt="" height="21px" width="21px">
                <img  data-src="./images/star-3.svg" src="/images/star-3.svg" class="lazy"
                      alt="" height="21px" width="21px">
                <img  data-src="./images/star-3.svg" src="/images/star-3.svg" class="lazy"
                      alt="" height="21px" width="21px">
            </div>
           
        </div>
        <div class=" slideshow-review-text text-center">" {{.ReviewText}} "
        </div>

    </div>
</div>
<!-- </div> -->
{{end}}
